#main-container {
    z-index: 5;
}
hr {
    margin-top: 0px;
    border-top: 1px solid #f1f1f1;
    border-bottom: none;
    border-left: none;
    border-right: none;
}
.section-content {
    text-align: left;
}
.section-intro {
    width: 100%;
    height: 35rem;
}
.section-intro .content {
    position: absolute;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 105, 164, 0.55);
    width: 100%;
    height: 100%;
} 
.section-intro .section-content {
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-blog {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    width: 100%;
    /* height: 60rem; */
    background-color: #fff;
}
.ui-carousel {
    position: fixed;
}
.ui-carousel,
.ui-carousel .carousel-wrapper,
.ui-carousel .track-wrapper {
    width: 100%;
    height: 100%; 
}
.cards {
    width: 45%;
    text-align: left;
    font-family: 'Raleway', sans-serif;
    color: #323232;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 2.479%;
}
.cards img,
.detail img {
    width: 100%;
    position: relative;
    overflow: hidden;
    margin-bottom: 2rem;
}
.cards a,
.detail a {
    color: #323232;
}
.cards a:hover,
.detail a:hover {
    color: rgba(243, 146, 0, 1)!important;
    text-decoration: none;
}
.cards .date,
.detail .date {
    font-size: 13px;
    text-transform: uppercase;
}
.cards .author,
.detail .author {
    margin-right: 10px;
}
.cards .time,
.detail .time {
    text-transform: uppercase;
    color: #999
}
.cards .tittle {
    margin-top: 5px;
    margin-bottom: 20px;
    font-size: 17px;
    letter-spacing: 2px;
    line-height: 28px;
    text-transform: uppercase;
}
.cards .text,
.detail .text {
    margin-bottom: 30px;
    font-size: 14px;
    margin: 0px 0 10px 0;
    color: #888;
}
.cards .more {
    float: right;
    font-size: 11px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.more .md-button.md-icon-button {
    min-width: 6.5rem !important;
}
.detail .tittle {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    margin-bottom: 30px;
    font-size: 27px;
    letter-spacing: 2px;
    line-height: 37px;
    margin-top: 10px;
    text-transform: uppercase;
}
.detail .text p {
    font-family: 'Raleway', sans-serif;
    margin-bottom: 20px;
    line-height: 20px;
    font-size: 17px;
    font-weight: 400;
}
.user {
    margin-top: 3rem;
}
.user .avatar img {
    border-radius: initial;
}
.text-user {
    line-height: 24px;
    color: #323232;
    font-size: 13px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
}
.text-user h3 {
    font-size: 1.2rem;
    font-family: inherit;
    font-weight: inherit;
    margin-bottom: 0.5rem !important;
}
.section-coments {
    width: 100%;
    height: 30rem;
    background-color: #fff;
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.section-coments h4 {
    font-size: 17px;
    letter-spacing: 2px;
    line-height: 28px;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    margin-top: 0px;
    margin-bottom: 10px;
}
.section-coments .text-left {
    text-align: left!important;
}
.section-coments .btn-info {
    background-color: #f39200;
    border-color: #f39200;
}
.section-coments .dker {
    background-color: #fff;
}
.section-container {
    width: 100%;
    background-color: #fff;
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.item-nav {
    text-align: center;
    display: block;
    overflow: hidden;
}
a:active, a:hover {
    outline-width: 0;
}
.item-nav .item-prev {
    text-align: left;
    float: left;
}
.item-nav .item-next {
    text-align: right;
    float: right;
}
.item-nav .item-prev, 
.item-nav .item-next, 
.item-nav .item-all-view {
    position: relative;
    display: inline-block;
}
.item-nav .item-prev:hover .prev-btn, 
.item-nav .item-next:hover .next-btn {
    background: #f7f7f7;
}
.item-nav .item-prev .prev-btn, 
.item-nav .item-next .next-btn {
    color: #323232;
    background: #fff;
    width: 51px;
}
.item-nav .item-prev .prev-btn, 
.item-nav .item-next .next-btn, 
.item-all-view {
    display: inline-block;
    font-size: 25px;
    text-align: center;
    height: 51px;
    line-height: 51px;
    transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
}
.item-nav .item-prev .item-prev-text {
    left: 100%;
    margin-left: -110px;
    padding-left: 15px;
}
.item-nav .item-next .item-next-text {
    right: 100%;
    margin-right: -110px;
    padding-right: 15px;
}
.item-nav .item-prev:hover .item-prev-text, 
.item-nav .item-next:hover .item-next-text {
    margin-left: 0;
    margin-right: 0;
    visibility: visible;
    opacity: 1;
}
.item-nav .item-prev .item-prev-text, 
.item-nav .item-next .item-next-text {
    position: absolute;
    line-height: 51px;
    top: 10px;
    z-index: -1;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    width: 150px;
}
.item-nav .item-prev .item-prev-text h5, 
.item-nav .item-prev .item-prev-text h6, 
.item-nav .item-next .item-next-text h5, 
.item-nav .item-next .item-next-text h6 {
    padding-top: 8px;
} 
.item-nav .item-all-view h5, 
.item-nav .item-all-view h6 {
    padding-top: 18px;
} 
.section-container a {
    color: #323232;
}
.section-container a:hover {
    color: #f39200 !important;
    text-decoration: none !important;
    transition: all 0.25s ease 0s;
    -moz-transition: all 0.25s ease 0s;
    -webkit-transition: all 0.25s ease 0s;
    -o-transition: all 0.25s ease 0s;
}