body{
    margin: 0;
    padding: 0;
    background-color: rgba(236, 236, 236, 1)!important;
}
body, h1, h3{
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
}
h2 {
    margin-bottom: 0rem;
}
footer {
    background-color: white;
}


*, *:before, *:after {
    box-sizing: inherit;
  }
  

  .flex-layout{
      display: flex;
  }

  /* .background {
    padding: 0 25px 25px;
    position: relative;
    width: 100%;
  }
  
  .background::after {
    content: '';
    background: #60a9ff;
    background: -moz-linear-gradient(top, #60a9ff 0%, #4394f4 100%);
    background: -webkit-linear-gradient(top, #60a9ff 0%,#4394f4 100%);
    background: linear-gradient(to bottom, #60a9ff 0%,#4394f4 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#60a9ff', endColorstr='#4394f4',GradientType=0 );
    height: 350px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
  } */
  
  @media (min-width: 900px) {
    .background {
      padding: 0 0 25px;
    }
  }
  
  .container {
    margin: 0 auto;
    padding: 50px 0 0;
    max-width: 560px;
    width: 100%;
  }
  
  .panel {
    background-color: #fff;
    border-radius: 10px;
    padding: 15px 25px;
    position: relative;
    width: 100%;
    z-index: 10;
  }
  
  .pricing-table {
    box-shadow: 0px 10px 13px -6px rgba(0, 0, 0, 0.08), 0px 20px 31px 3px rgba(0, 0, 0, 0.09), 0px 8px 20px 7px rgba(0, 0, 0, 0.02);
    display: flex;
    flex-direction: column;
  }
  
  @media (min-width: 900px) {
    .pricing-table {
      flex-direction: row;
    }
  }
  
  .pricing-table * {
    text-align: center;
    text-transform: uppercase;
  }
  
  .pricing-plan {
    border-bottom: 1px solid #e1f1ff;
    padding: 25px;
  }
  
  .pricing-plan:last-child {
    border-bottom: none;
  }
  
  @media (min-width: 900px) {
    .pricing-plan {
      border-bottom: none;
      border-right: 1px solid #e1f1ff;
      flex-basis: 100%;
      padding: 25px 50px;
    }
  
    .pricing-plan:last-child {
      border-right: none;
    }
  }
  
  .pricing-img {
    margin-bottom: 25px;
    max-width: 100%;
  }
  
  .pricing-header {
    color: #888;
    font-weight: 600;
    letter-spacing: 1px;
  }
  
  .pricing-features {
    color: #016FF9;
    font-weight: 600;
    letter-spacing: 1px;
    margin: 50px 0 25px;
    list-style-type: none;
  }
  
  .pricing-features-item {
    border-top: 1px solid #e1f1ff;
    font-size: 14px;
    line-height: 1.5;
    padding: 15px 0;
  }
  
  .pricing-features-item:last-child {
    border-bottom: 1px solid #e1f1ff;
  }
  
  .pricing-price {
    color: #016FF9;
    display: block;
    font-size: 32px;
    font-weight: 700;
  }
  
  .pricing-button {
    border: 1px solid #9dd1ff;
    border-radius: 10px;
    color: #348EFE;
    display: inline-block;
    margin: 25px 0;
    padding: 15px 35px;
    text-decoration: none;
    transition: all 150ms ease-in-out;
  }
  
  .pricing-button:hover,
  .pricing-button:focus {
    background-color: #e1f1ff;
  }
  
  .pricing-button.is-featured {
    background-color: #48aaff;
    color: #fff;
  }
  
  .pricing-button.is-featured:hover,
  .pricing-button.is-featured:active {
    background-color: #269aff;
  }


#video1{
    position: fixed;
    top: 0;
    left: 0;
    min-height: 100%;
    min-width: 100%;
    width: auto;
    height: auto;
    }
.background-init{
    min-width: 320px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-repeat: no-repeat;
    background-size: 100% auto;  
    background-size: cover;
}
.background {
    /* background-image: url('../videos/video.mp4'); */
    background-size: cover;
    height: 100%;
}
.contact .contact-nav{
    width: 100%;
    padding: 0.5em 1rem !important;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contact .contact-email{
    font-size: 0.8rem !important;
    font-style: italic;
}
.contact .element{
    padding-right: .5rem !important;
    padding-left: .5rem !important;
}
.contact .element i{
    color: rgba(243, 146, 0, 1) !important;
}

.contact .contact-tittle{
    position: relative;
    width: 57%;
    display: flex !important;
    justify-content: center !important;

}
.fa-envelope .orange{
    background-color: rgba(243, 146, 0, 1) !important;
}
.contact .contact-tittle h1{
    padding-right: .5rem !important;
    padding-left: .5rem !important;
    font-size: 1.3rem !important;
    margin-bottom: 0rem !important;
    text-transform: uppercase !important;
    color: rgba(128, 128, 128, 0.63) !important;
}
.section-intro{
  z-index: 1;
  position: relative;
  color:white;
  width: 100%;
  height: 100%;
}
.section-intro .section-intro-content {
    display: flex;
    align-items: center;
    justify-content: center;  
    width: 100%;
    height: 100%;
    background-color: rgba(8, 8, 8, 0.3) !important;
}
.section-intro .container{
    position: absolute;
    width: 43rem;
    /* width: 62%; */
    height: auto;
    /* min-height: 268px; */
    /* max-width: 43rem; */
    min-width: 43rem;
}
.main-container{
    position: relative !important;
}
.container .container-tittle{
    position: relative;
    width: 100%;
    /* margin-top: -12px; */
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.section-intro .container-tittle h1{
    text-transform: uppercase; 
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
    text-transform: uppercase;
    font-size: 4.3rem !important;
    
}
.container .container-search{
    position: relative;
    width: 100%;
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.section-intro .container-test{
    position: relative;
    width: 100%;
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.section-intro .container-test-tittle{
    position: relative ;
    float: left;
}
.section-intro .container-test-tittle h1{
    font-size: 2rem !important;
}
.section-intro .container-test .btn{
    margin-left: 19px !important;
    font-size: 1.5rem !important;
    background-color: rgba(243, 146, 0, 1) !important;
    border-color: rgba(243, 146, 0, 1) !important;
}
.section-intro .container-test .btn:hover{
    background-color: rgba(0, 105, 164, 1) !important;
    border-color: rgba(0, 105, 164, 1) !important;
}
.section-intro .container-search .btn  {
    padding-left: 3em !important;
    margin-left: -50px; 
    padding: 0.6rem 1.5rem !important;
    padding-left: 2.9em !important;
}
.section-intro .form-control-sm {
    padding: 0.25rem .5rem;
    font-size: 1.2rem;
    border-radius: .2rem;
    line-height: 2.25;
}
.section-intro .container .search {
    position: relative;
    float: left;
    z-index: 1;
    width: 80%;
    max-width: 656.82px
}
.section-intro .search input {
    width: 100%;
}
.section-intro .material-icons {
    font-size: 28px !important;
    color: #fff !important;
}
@media (max-width: 767px) {
    .navbar-toggleable-sm .navbar-collapse.collapsing, .navbar-toggleable-sm .navbar-collapse.collapse.show{
        background-color: rgba(0, 105, 164, 1) !important;
        padding: 2rem 1rem 2rem 1rem !important;
        width: 100% !important;
        text-align: center !important;
    }
    .navbar-toggleable-sm .navbar-collapse.collapse.show .navbar-nav .nav-link:active{
        background-color: rgba(243, 146, 0, 1) !important;
    }
    .navbar-toggleable-sm .navbar-collapse a:active, a:hover{
        color: white !important;
    }
    .menu{
        display: block!important;
    }
}
@media (max-width: 740px){ 
    /*max-width: 575px*/
    .hidden-xs-down {
        display: none!important;
    }
    .section-intro .search {
        width: 75% !important;
    }
    .section-intro .container-search .nav-link {
        padding: 0.5em 0em !important;
    }
    .section-intro .form-control-sm {
        font-size: 0.8rem !important;
    }
    .section-intro .container{
        width: 100% !important;
        min-width: 100% !important;
        min-height: 214px !important;
        padding-right: 5px !important;
        padding-left: 5px !important;
    }
    .container .container-tittle {
        top: 3px !important;
    }
    .section-intro .container-tittle h1{
        font-size: 2.39rem !important;
    }
    .section-intro .container-test {
        display: block !important;
        text-align: center !important;
    }
    .section-intro .container-test-tittle {
        float: none !important;
    }
    .section-intro .container-test-tittle h3{
        text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6) !important;
    }
    .section-intro .container-test .btn {
        margin-top: 11px !important;
        margin-left: 0px !important;
        font-size: 1rem !important;
    }
}
.primary {
    background-color: rgba(0, 105, 164, 0.9) !important;
}
.navbar a {
    color: white !important;
}
.navbar{
    position: fixed;
    width: 100%;
    height: 70px !important;
    z-index: 1;
}
.navbar-collapse a:active{
    color: rgba(243, 146, 0, 1) !important;
}
.navbar-brand img {
    max-height: 83px !important;
}
.navbar .material-icons{
    font-size: 35px!important;
    padding-left: 8px;
    /* margin-right: 8px; */
}
.section-intro .rounded, .contact-social .rounded, .clearfix .rounded {
    border-radius: 1.25rem !important;
}
.section-intro .btn {
    border: 2px solid white;
}
.section-intro .container-search .btn:hover{
    background-color: rgba(243, 146, 0, 1) !important;
    border: 2px solid rgba(243, 146, 0, 1);
} 

.container-fluid {
    padding-right: 0px !important;
    padding-left: 0px !important;
}
.signup .material-icons{
    margin-left: 10px !important;
}
.footer {
    position: relative;
    width: 100%;
    margin-bottom: 0rem !important;
    background-color: #fff;
}
.footer-input{
    text-align: center;
}
.footer-menu{
    flex-wrap: wrap;
}
.footer a{
    color: #000;
}
.footer input[type="submit"]{
    color: #fff!important;
    border-color: rgba(0, 105, 164, 1) !important;
    background-color: rgba(0, 105, 164, 1) !important;
    border-radius: 0.3rem !important;
    border-style: solid !important;
}
.footer input[type="email"]{
    font-style: italic;
    width: 16rem;
}
.white {
    z-index: 1;
}
.container-video{
    z-index: 1;
    position: relative;
    width: 100%;
    height: 40rem;
    background-color: rgba(255, 255, 255, 1);
    display: flex;
    align-items: center;
    justify-content: center;
}
.container-video .video{
    position: relative;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #fff;
    margin: 10px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.19);
}
.container-video .video .item-video{
    width: 100% !important;
    height: 100% !important;
}
.container-video .description-videos{
    display: flex;
    justify-content: center;
    width: 100%;
    position: absolute;
    bottom: 15%;
    padding: 0 33px 0 33px;
}
.container-video .description-videos .description{
    margin: 20px 33px;
    width: 27%;
    height: 100%;
    text-align: center;
    flex-wrap: wrap;
}
.container-video .content-videos{
    display: flex;
    align-items: center;
    height: 10rem;
    margin-top: 8rem;
}
/* .hidden-md-up .material-icons{
    font-size: 35px;
} */
.hidden-md-up {
    display: block!important;
}
.dropdown-menu {
    margin: .45rem 0 0 !important;
    background-color: rgb(23, 117, 170)!important;
    min-width: 18rem !important;
    padding: 1.5rem 0 !important;
    padding-bottom: 12rem !important;
    font-size: 1.2rem !important;
    margin-left: -18px!important;
}  
.dropdown-menu .menu-icon{
    width: 2rem !important;
    float: left;
    text-align: center;
    margin-right: 8px;
}
.dropdown-menu.pull-right {
    right: -18px!important;
}  
.dropdown-menu .padding-menu{
    padding: 8px!important;
    padding-left: 2rem!important;
    padding-right: 2rem!important;
}
md-sidenav .hidden{
    display: none;
}
.dropdown-item:hover {
    color: rgba(243, 146, 0, 1) !important;
}
.text-blue-hover a:hover {
    color: #fff !important;
}
.intro-divider {
    width: 68% !important;
    border-top: 2px solid #f8f8f8 !important;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2) !important;
    position: relative!important;
    margin-top: 6rem !important;
}
.register{
    position: relative;
    width: 100%;
    margin-top: 1.1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.up{
    position: relative;
    z-index: 1;
    /* bottom: 0px; */
    margin-top: 46rem;
    -webkit-animation-name: rebote; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 3s; /* Chrome, Safari, Opera */
    -webkit-animation-iteration-count: infinite; /* Chrome, Safari, Opera */
    -webkit-animation-direction: normal; /* Chrome, Safari, Opera */
    animation-name: rebote;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-timing-function: linear;
}
@keyframes rebote {
    0% {
      left: 0px;
      top: 0px;
    }
    25% {
      left: 0px;
      top: 0px;
    }
    50% {
      left: 0px;
      top: -25px;
    }
    75% {
      left: 0px;
      top: -25px;
    }
    100% {
      left: 0px;
      top: 0px;
    }
  }
  
.up .btn{
    color:  rgba(243, 146, 0, 1) !important;
    font-size: 3rem !important;
    border: 0px !important;
}
.register .fa{
    margin-left: 2px !important;
}
@media (max-width: 500px) {
    .dropdown-menu {
        width: 100%!important;
    } 
    md-sidenav .hidden{
        display: initial;
    }
    hr{
        display: none !important;
    }
    .register{
        display: grid !important;
        justify-content: center!important;
        text-align: center !important;
    }
    .register button{
        margin-bottom: 1rem !important;
        margin-right: 0px !important;
    }
    .section-intro .btn{
        min-width: 9rem!important;
        margin-right: none;
    }
    .section-intro .container .search {
        z-index: initial;
    }
    .up{
        margin-top: 160% !important;
    }
}
/* section{
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.6);
} */
.b-b {
    border-bottom: 2px solid rgba(120, 130, 140, 0.13)!important;
}
.register .btn-white-orange .btn{
    color:  rgba(243, 146, 0, 1) !important;
    background-color: #fff !important;
    border: 2px solid #fff !important;
    /* margin-right: 2rem !important; */
}
.newSection .btn-green-white .btn{
    background-color:rgb(195,214,156) !important;    
    border: 2px solid rgb(195,214,156)!important;
    margin-right: 2rem;
}
.newSection .btn-orange-white .btn{
    background-color: rgba(243, 146, 0, 1) !important;    
    border: 2px solid rgba(243, 146, 0, 1)!important;
    margin-right: 2rem;
}
.register .btn-orange-white .btn{
    background-color: rgba(243, 146, 0, 1) !important;    
    border: 2px solid rgba(243, 146, 0, 1)!important;
    margin-right: 2rem;
}
@media (max-width: 500px) {
    .register button{
        margin-bottom: 1rem !important;
        margin-right: 0px !important;
    }
}
.modal {
    /* position: fixed; */
    top: 4.4rem;
    background-color: rgba(0, 0, 0, 0.59);
    /* right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden; */
  }
  
  .modal-dialog {
    /* position: absolute; */
    /* position: fixed; */
    /* m-argin: 0; */
    width: 90%;
    height: 90%;
    /* padding: 0; */
  }
  
  /* .modal-content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 0;
    box-shadow: none;
  } */
  .modal-body {
    position: fixed;
    /* position: absolute; */
    /* top: 3.5rem;
    bottom: 0; */
    width: 100%;
    height: 100%;
    font-weight: 300;
    /* overflow: auto; */
  }
  
  .modal-header {
    position: absolute;
    height: 3.5rem;
    right: 0;
    border-bottom: 0px;    
    /* bottom: 0; */
    /* left: 0; */
    /* padding: 10px; */
    /* background: #f1f3f5; */
  }
  
  .modal-header .btn {
    height: 40px;
    border-radius: 0;
  
    /* // focus
    &:focus,
    &:active,
    &:active:focus {
      box-shadow: none;
      outline: none;
    } */
  }
  
  .btn-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -20px;
    margin-left: -100px;
    width: 200px;
  }
  
  .btn-primary,
  .btn-primary:hover,
  .btn-primary:focus,
  .btn-primary:active {
    font-weight: 300;
    font-size: 1.6rem;
    color: #fff;
    color: lighten(#484b5b, 20%);
    color: #fff;
    text-align: center;
    background: #60cc69;
    border: 1px solid #36a940;
    border-bottom: 3px solid #36a940;
    box-shadow: 0 2px 4px rgba(0,0,0,0.15);
  
    /* active */
    /* &:active {
      border-bottom: 1px solid #36a940;
    } */
  }
  @media (min-width: 576px){
  .modal-dialog {
      max-width: initial !important;
  }
}
.modal-backdrop {
    z-index: -1;
}
.modal-body {
    padding: 0!important;
}
.container-msg {
    width: 100%;
    height: 17rem;
    position: relative;
    z-index: 1;
    color: white;
}
.container-msg .backgraund-msg{
    TOP: 0;
    background-size: cover !important;
    background-position: top !important;
}
.container-msg .msg{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 105, 164, 0.55);
    display: flex;
    align-items: center;
    justify-content: center;
}
.video iframe, .mirror {
    -webkit-transition:all .9s ease; /* Safari y Chrome */
    -moz-transition:all .9s ease; /* Firefox */
    -o-transition:all .9s ease; /* IE 9 */
    -ms-transition:all .9s ease; /* Opera */
    width:100%;
    }

    .video:hover .mirror, .video:hover iframe {
    -webkit-transform:scale(1.13);
    -moz-transform:scale(1.13);
    -ms-transform:scale(1.13);
    -o-transform:scale(1.13);
    transform:scale(1.13);
    }
    /* .video:hover .mirror{
        background-color: rgba(243, 146, 0, 0.68) !important;
    } */
    .section-us-weare{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        /* height: 40rem; */
        min-height: 40rem;
        z-index: 1;
        background-color: rgb(245, 245, 245);
    }
    .section-us-weare .us-content-weare {
        width: 100%;
        height: 100%;
        background-size: contain !important;
        background-position: right !important;
    }
    .us-content-weare .image {
        /* position: absolute; */
        float: right;
        width: 50%;
        height: 100%;
    }
    .us-content-weare .text {
        float: left;
        width: 50%;
        height: 100%;
        background-color: rgb(245, 245, 245);
        display: flex;
        justify-content: flex-end;
    }
    .section-us-weare .text-us, .portfolio-details {
        width: 25rem;
        word-wrap: break-word;
        font: normal normal normal 17px/1.4em helvetica-w01-light,helvetica-w02-light,sans-serif;
        color: #3B3A3A;
        letter-spacing: normal;
        line-height: 2rem;
    }
    .section-us{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(243, 146, 0, 1);
        width: 100%;
        /* height: 13rem; */
        z-index: 1;
        color: white;
    }
    .section-us .ui-carousel .tittle {
        margin-bottom: 1rem;
        font-size: 1.5rem;
        letter-spacing: 0.05em;
    }
    .section-us .ui-carousel .text {
        font-style: oblique;
        font-size: 17px;
    }
    .section-us-grid{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        /* height: 90rem; */
        z-index: 1;
        background-color: white;
    }
    .section-us-grid .us-code{
        flex-wrap: wrap;
        display: flex;
        font: normal normal normal 17px/1.4em helvetica-w01-light,helvetica-w02-light,sans-serif;
    }
    .btn-up {    
        position: fixed;
        bottom: 2rem;
        right: 1.5rem;
        z-index: 3;
        
    }
    .btn-up .scroll-top-visible{
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    .btn-up .btn{
        transition: color 0.8s linear 0.2s;
        background-color: rgba(243, 146, 0, 1) !important;
        padding: 0.7rem 0.5rem !important;
        font-size: 1rem !important;
        border-radius: 100% !important;
        color: white !important;
    }
    .scroll-up {
        -webkit-transition: .5s all ease;
        transition: .5s all ease;
        -webkit-transform: translateY(86px);
        transform: translateY(86px);

    }
    .btn-up .btn-fw{
        min-width: 3rem !important;
    }
    .contact-social .green{
        background-color: #25d366 !important;
    }
    .section-customers {
        position: relative;
        background: rgb(245, 245, 245);
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1;
        width: 100%;
        height: 20rem;
    }
    .section-customers .ui-carousel {
        margin-top: 30px;
    }
    .textNew {
        margin-top: 2rem;
        height: 4rem !important;
        display: flex;
        align-items: center;
        justify-content: center;
        font: normal normal normal 55px/1.4em avenir-lt-w01_85-heavy1475544,sans-serif;
        line-height: normal;
        word-wrap: break-word;
        color: #C6C6C6;
        letter-spacing: 0.05em;
    }
    .borderTextNew {
        border-bottom: 10px solid rgb(243, 146, 0);
        width: 10rem;
        margin-bottom: 3rem;
    }
    .md-card {
        /* position: absolute; */
        width: 30%;
        height: auto;
        text-align: center;
        margin: 0.9rem;
    }
    .md-card .md-card-image {
        width: 100%;
    }
    .md-card .fa {
        font-size: 4rem;
        color: rgba(23, 117, 170, 0.82);
    }
    .md-card .md-headline {
        font-size: medium;
    }
    .md-card p {
        color: rgba(0, 0, 0, 0.5);
        font-size: 0.9rem;
    }
    .carousel-item {
        display: block;
        text-align: center;
    }
    .carousel-next, .carousel-prev {
        display: none;
    }
    .section-contact {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        /* height: 61rem; */
        background: white;
    }
    .section-contact .data {
        position: relative;
        width: 100%;
        height: 40%;
        text-align: left;
    }
    .section-contact .formMesg {
        float: left;
    }
    .section-contact .address {
        float: right;
    }
    .section-contact .form-control {
        background-color: #f5f5f5;
        border: 0px solid rgba(0,0,0,.15);
        padding: 0.4rem 0.5rem;
        font-size: 0.8rem;
    }
    .section-contact .form-group {
        margin-bottom: 0.3rem;
    }
    .section-contact .btn-info {
        background-color: rgb(23, 117, 170);
        border-color: rgb(23, 117, 170);
    } 
    .section-contact .p-a {
        padding: 0rem !important;
    }
    .section-contact .dker {
        background-color: rgba(0, 0, 0, 0);
    }
    .section-contact .box-body {
        padding: 0rem;
    }
    .section-contact .col-sm-6 {
        padding-right: 4rem;
        padding-left: 0;
        margin-top: 3rem;
    }
    .section-contact .tittle {
        font: normal normal normal 25px/1.4em avenir-lt-w01_85-heavy1475544,sans-serif;
        color: #1E2D3B;
        line-height: 1.9em;
        word-wrap: break-word;
    }
    .section-contact .text {
        font: normal normal normal 17px/1.4em helvetica-w01-light,helvetica-w02-light,sans-serif;
        color: #3B3A3A;
        line-height: 1.5em;
        word-wrap: break-word;
    }        
    .section-content {
        width: 75%;
        /* height: 100%; */
        text-align: -webkit-center;
        padding-top: 2rem;
        padding-bottom: 2rem;
        max-width: 56rem;
    }
    .section-portfolio {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        /* height: 40rem; */
        background: white;
    }
    .gallery-portfolio {
        position: relative;
        background: white;
        width: 100%;
        text-align: center !important;
    }
    /*************************
********* Portfolio CSS ******
**************************/
#portfolio .row {
    display: block;
    margin-left: 0px !important;
    margin-right: 0px !important;
}
#portfolio .row [class*="col-"] {
    padding-left: 0px;
    padding-right: 0px;
}
  .portfolio-items, 
  .portfolio-filter {
    list-style: none outside none;
    margin: 0 0 40px 0;
    padding: 0;
  }
  .portfolio-items {
      margin: 0;
  }
  
  .portfolio-filter > li {
    display: inline-block;
  }
  
  .portfolio-filter > li a {
    background: none repeat scroll 0 0 #FFFFFF;
    font-size: 18px;
    font-weight: 400;
    margin-right: 20px;
    text-transform: capitalize;
    transition: all 0.9s ease 0s;
    -moz-transition: all 0.9s ease 0s;
    -webkit-transition: all 0.9s ease 0s;
    -o-transition: all 0.9s ease 0s;
    border: 0px solid #F2F2F2;
    outline: none;
    border-radius: 3px;
  }
  
  .portfolio-filter > li a:hover,
  .portfolio-filter > li a.active{
    color: rgb(243, 146, 0);
  }
  .portfolio-filter .btn:not([disabled]):hover, 
  .portfolio-filter .btn:not([disabled]):focus, 
  .portfolio-filter .btn:not([disabled]).active {
    box-shadow: none;
  }
  .portfolio-items > li {
    float: left;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  .portfolio-item {
    margin: 0;
    padding:0;
  }
  .recent-work-wrap img{
    width: 100%;
    height: 15rem;
  }
  @media (min-width: 1200px){
    .overlay-container .text {
        top: 30%;
    }
   }
  .overlay-container .text {
      padding: 0 20px;
      position: relative;
  }
  .overlay-container .text h3 {
        margin-top: 0;
        color: #ffffff;

    }
  .overlay-container .text h3 {
      font-size: 24px;
  } 

   .overlay-top a, 
   .overlay-bottom a, 
   .overlay-to-top a, 
   .overlay-top a:hover, 
   .overlay-bottom a:hover, 
   .overlay-to-top a:hover {
        color: #ffffff;
        text-decoration: none;
    }
    .overlay-bottom .btn, 
    .overlay-top .btn {
        color: #ffffff;
        border-color: #ffffff;
        margin: 0;
    }
    .btn-animated.btn-sm {
        padding-right: 35px !important;
    }
    .btn-animated {
        position: relative;
        min-width: 0 !important;
        padding-right: 45px !important;
    }
    .btn-sm {
        padding: 5px 15px;
        font-size: 12px;
        line-height: 1.4666666667;
        border-radius: 3px;
        margin: 5px 0;
    }

    .btn-gray-transparent {
        color: #333333;
        background-color: transparent;
        border-color: #777777;
    }
    .btn {
        -webkit-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
    }
    .overlay-bottom .btn:hover, 
    .overlay-top .btn:hover {
        color: #777777;
        background-color: #ffffff;
    }
  .overlay-container:hover .overlay-top, 
  .overlay-container:hover .overlay-bottom {
    height: 50%;
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0) scale(1, 1);
   }
   .overlay-container .overlay-top {
    top: 0;
   }
   .overlay-bottom, .overlay-top {
        position: absolute;
        top: auto;
        padding: 15px;
        bottom: 0px;
        left: 0;
        right: 0px;
        background-color: rgba(30, 30, 30, 0.5);
        overflow: hidden;
        opacity: 0;
        filter: alpha(opacity=0);
        -webkit-transition: all ease-in-out 0.25s;
        -o-transition: all ease-in-out 0.25s;
        transition: all ease-in-out 0.25s;
        height: 0;
        color: #ffffff;
        -webkit-backface-visibility: hidden;
        -webkit-transform: translateZ(0) scale(1, 1);
    }
    /* Start: Recommended Isotope styles */
/**** Isotope Filtering ****/
.isotope-item {
    z-index: 2;
  }
  
  .isotope-hidden .isotope-item {
    pointer-events: none;
    z-index: 1;
  }
  
  /**** Isotope CSS3 transitions ****/
  .isotope,
  .isotope .isotope-item {
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    -ms-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    transition-duration: 0.8s;
  }
  
  .isotope {
    -webkit-transition-property: height, width;
    -moz-transition-property: height, width;
    -ms-transition-property: height, width;
    -o-transition-property: height, width;
    transition-property: height, width;
  }
  
  .isotope .isotope-item {
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property: -moz-transform, opacity;
    -ms-transition-property: -ms-transform, opacity;
    -o-transition-property: -o-transform, opacity;
    transition-property: transform, opacity;
  }
  
  /**** disabling Isotope CSS3 transitions ****/
  .isotope .no-transition,
  .isotope .no-transition .isotope-item,
  .isotope .isotope-item .no-transition {
    -webkit-transition-duration: 0s;
    -moz-transition-duration: 0s;
    -ms-transition-duration: 0s;
    -o-transition-duration: 0s;
    transition-duration: 0s;
  }
  
  /* End: Recommended Isotope styles */
  /* disable CSS transitions for containers with infinite scrolling*/
  .isotope .infinite-scrolling {
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
  }
  .recent-work-wrap .overlay .preview {
    bottom: 0;
    display: inline-block;
    height: 35px;
    line-height: 35px;
    border-radius: 0;
    background: transparent;
    text-align: center;
    color: #fff;
  }
  .md-sidenav-left, md-sidenav {
      position: fixed;
      top: 4.4rem !important;
  }
  .menu-text {
    margin-left: 2rem !important;
  }
  md-sidenav .md-button {
      width: 100% !important;
      text-align: left !important;
      padding: 6px 0px;
      margin: 6px 0 !important ;
      font-size: 16px !important;
  }
  .layout-padding, 
  .layout-padding>* {
    padding: 8px 0 !important;
  }
  md-sidenav i {
    font-size: 1.5rem;
    float: right;
    margin-right: 2rem;
  }
  md-sidenav .md-button.md-primary {
    color: rgb(23, 117, 170);
  }
  md-sidenav .md-button:not([disabled]):hover {
    color: rgb(243, 146, 0);
  }
  .cotent-img {
    position: relative;
    width: 100%;
    height: 35rem;
  }
  .cotent-img .image {
    width: 100%;
    height: 100%;
    background: rgba(0, 105, 164, 0.55);
}
.cotent-img .backgraund-content-img {
    background-size: cover !important;
    background-position: top!important;
}

md-toolbar {
    background-color: rgb(243, 146, 0) !important;
}
md-dialog-actions .md-button {
    background: rgb(243, 146, 0) !important;
    color: white !important;
}
.md-dialog-content .row {
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.md-dialog-content .textNew{
    font-size: 2rem;
    justify-content: left;
    margin-top: 1rem;
}

.section-intro .content-signup,
.section-intro .content-signin
 {
    width: 100%;
    height: 100%;
    position: absolute;
    display: FLEX;
    justify-content: center;
    background: rgba(24, 118, 169, 0.58);
}
.section-intro .content-signin .back-intro {
    position: absolute;
    margin-top: 15rem;
}
.section-intro .content-signin .back-intro .btn {
    background-color: transparent !important;
    border: 2px solid transparent !important;
}
.section-intro .content-signin .w-xxl {
    width: 400px;
}
.content-signin .text-primary,  
.content-signin .text-primary:hover,
.my-modal .text-primary,
.my-modal  .text-primary:hover {
    color: #0cc2aa !important;
}
.content-signin .primary, 
.my-modal .primary {
    background-color: rgb(243, 146, 0) !important;
}
.content-signin .md-check .primary,
.my-modal  .md-check .primary {
    background-color: #0cc2aa !important;
}
.portfolio-details {
    width: 100%;
}

.section-menuregistro {
    position: relative;
    width: 100%;
}
.section-menuregistro .background-registro {
    width: 100%;    
}
.background-registro .content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 105, 164, 0.55);
}
.background-registro .row {
    margin-right: 0 !important;
    margin-left: 0 !important;
}
.background-registro .row [class*="col-"] {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.background-registro .danger {
    color: rgba(255, 255, 255, 0.87) !important;
    background-color: rgb(243, 146, 0) !important;
}
.background-registro .textNew {
    margin-top: 0 !important;
}
.background-registro .borderTextNew {
    margin-bottom: 0 !important;
}
.my-modal {
    width: 100% !important;
    height: 100% !important;
    max-width: 100% !important;
    max-height: 100% !important;
}
.my-modal md-dialog-content {
    max-width: 100% !important;
}
.my-modal md-toolbar {
    background-color: rgb(255, 255, 255) !important;
    color: #000 !important;
}
.my-modal .dialog-menu {
    text-align: center;
}
.my-modal .dialog-menu .md-btn.md-fab {
    margin: 0 7% !important;
    color: rgb(23, 117, 170);
    border: solid 1px rgb(23, 117, 170);
    box-shadow: none !important;
}
.my-modal .dialog-menu .md-btn.md-fab:active,
.my-modal .dialog-menu .md-btn.md-fab:hover,
.my-modal .dialog-menu .md-btn.md-fab:focus {
    color: #fff;
    background-color: rgb(23, 117, 170);
}
.my-modal .textNew {
    justify-content: center;
    margin-top: 0rem;
}
.my-modal .borderTextNew {
    margin-bottom: 0 !important;
}
.my-modal .logo {
    width: 8rem;
    height: 2rem;
    opacity: 0.5;
    filter: alpha(opacity=50);
}
.my-modal .form-control {
    background-color: #f5f5f5 !important;
}
.my-modal .input-group {
    margin:  0 3px;
}
.my-modal .social .btn {
    background-color: #f5f5f5;
}
.my-modal .social .btn-icon i {
    top: 8px !important;
}
.my-modal .btn-registro {
    justify-content: flex-end;
}
.my-modal .btn-registro .btn-primary {
    background-color: rgb(243, 146, 0);
    border-color: rgb(243, 146, 0);
}
.my-modal .born-date .form-control {
    margin: 0 3px;
}
.my-modal .success {
    background-color: rgb(23, 117, 170);
}
.my-modal .test-register {
    text-align: right;
    float: right;
}
.my-modal .test-register .md-button.md-primary.md-raised {
    background-color: rgb(243, 146, 0);
}
.my-modal .panel-body md-select{
    background-color: #f5f5f5 !important;
}
.my-modal .col-md-6.signup,
.my-modal .col-md-6.signin {
    padding-left: 30px;
    padding-right: 30px;
}
section#resetPassword {
    background-color: white;
    height: 40rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
section#resetPassword .section-content {
    display: flex;
    justify-content: center;
    align-items: center;
}
section#resetPassword .primary{
    background-color: rgb(243, 146, 0) !important;
}
section#resetPassword .text-primary {
    color: #0cc2aa !important;
}