/*.movil*/
@media (max-width: 600px) {
  .section-content {
    width: 100% !important;
  }
  .textNew {
    margin-top: 0rem !important;
    font-size: 30px !important;
  }
  .section-contact .col-sm-6 {
    padding-right: 0rem !important;
    padding-left: 0rem !important; 
    margin-top: 1rem !important;
  }
  .section-us {
    height: 16rem !important;
  }
  .us-content-weare .text {
    width: 70% !important;
  }
  .section-us-weare .text-us, .portfolio-details {
    width: 100% !important;
    font-size: 12px !important;
  }
  .section-intro {
    height: 15rem !important;
  }
  .md-card {
    width: 41% !important;
  }
  .cards {
    width: 100% !important;
  }
  .detail {
    padding: 5%;
  }
  .box {
    padding: 5% !important;
  }
}

@media (min-width: 768px){
  .navbar-toggleable-sm .navbar-nav .nav-link {
      padding-right: 0rem;
  }
}