<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>ADN Talent </title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta property="og:image" content="https://adntalent.com/panel/img/share/logo.jpg" />
  <meta property="og:description" content="Descubre tus talentos y libera el potencial, inicia tu test" />
  <meta property="og:title" content="ADN TALENT" />
  <meta property="og:url"   content="http://adntalent.com/index.html" />
  <meta property="og:type"   content="website" />
  
  
  <!-- for ios 7 style, multi-resolution icon of 152x152 -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-barstyle" content="black-translucent">
  <link rel="apple-touch-icon" href="panel/assets/images/logo.png">
  <meta name="apple-mobile-web-app-title" content="ADN Talent">
  <!-- for Chrome on Android, multi-resolution icon of 196x196 -->
  <meta name="mobile-web-app-capable" content="yes">
  <link rel="shortcut icon" sizes="196x196" href="panel/assets/images/logo.png">

  <link rel="stylesheet" type="text/css" href="//static-cdn.123rf.com/css/123rf_v10-gt_ie8.css">
  <link rel="stylesheet" href="assets/styles/app.css">
  <link rel="stylesheet" href="assets/styles/font.css">
  <link rel="stylesheet" href="assets/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="assets/material-design-icons/material-design-icons.css">
  <link rel="stylesheet" href="assets/animate.css/animate.min.css">
  <link rel="stylesheet" href="assets/bootstrap/dist/css/bootstrap.min.css">  
  <link rel="stylesheet" href="assets/angular-ui-carousel/dist/ui-carousel.min.css">
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.4/angular-material.min.css">
  <link rel="stylesheet" href="css/index.css">
  <link rel="stylesheet" href="css/responsive.css">

  <!-- <link rel="stylesheet" href="../panel/css/login/custom.css"> -->
  
  

  <script src="libs/angular/angular/angular.js"></script>
  <script src="libs/angular/angular-animate/angular-animate.js"></script>
  <script src="libs/angular/angular-touch/angular-touch.js"></script>
  <script src="libs/angular/angular-aria/angular-aria.min.js"></script>
  <script src="libs/angular/angular-material/angular-material.min.js"></script>
  <script src="libs/angular/angular-ui-router/release/angular-ui-router.min.js"></script>
  <script src="libs/ng-map/ng-map.min.js"></script>
  <script src="libs/angular-ui-carousel/dist/ui-carousel.min.js"></script>
  <script src="libs/ng-parallax/ngParallax.min.js"></script>
  <script src="libs/wowjs/dist/wow.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDx6UwoheEpLT3F2J45bgaaKeAtoyxFqVY"></script>
  <script src="js/ui-bootstrap-tpls.min.js"></script>
  <script src="js/angular-scroll.min.js"></script>
  <script src="js/app.js"></script>
  <script src="js/index.js"></script>
  <script src="js/videos.service.js"></script>
  <script src="js/privacidad.service.js"></script>

  <!-- ADN JS -->
  <script src="../panel/js/adn.app.js"></script>
  <script src="../panel/js/login/login.router.js"></script>
  <script src="../panel/js/login/login.service.js"></script>
  <script src="../panel/js/login/login.controller.js"></script>
  <script src="../panel/js/login/pre.registro.controller.js"></script>
  <script src="../panel/js/login/registro.empresa.controller.js"></script>
  <script src="../panel/js/login/registro.candidato.controller.js"></script>
  <script src="../panel/js/login/registro.test.controller.js"></script>
  <script src="../panel/js/login/reset.pass.controller.js"></script>
  <script src="../panel/js/login/reset.pass.service.js"></script>
  <script src="../panel/js/test/test.service.js"></script>
  <script src="../panel/js/test/test.controller.js"></script>


  <script type="text/javascript">
    function registro() {
          
                $.ajax({
                    url: "../supermariobros/test/new.test.webpage.php",
                    success: function(response) {
                        if(response == 0){}else{
                            location.href ="https://adntalent.com/panel/#/test/"+response; 
                         }
                    }
                });
                
    }
    
    </script>

  
</head>

<body ng-app="indexApp" ng-controller="appCtrl">
    <div layout="column" ng-cloak="" class="sidenavdemoBasicUsage">
        <section layout="row" flex="">
          <md-sidenav class="md-sidenav-left" md-component-id="left" md-whiteframe="4" id="leftSideNav" md-disable-backdrop="true">
            <!-- <md-toolbar class="md-theme-indigo" layout="row">
              <h1 class="md-toolbar-tools">Sidenav Left</h1>
              <span flex></span>
              <md-button ng-click="close()">Close</md-button>
            </md-toolbar> -->
            <md-content layout-padding="" layout="column" layout-align="start start">
              <md-button class="md-primary" ng-click="close()" ui-sref="home">
                  <span class="menu-text">Inicio</span><i class="fa fa-home"></i>
              </md-button>
              <md-button class="md-primary" ng-click="close()" href="#/home#about-us">
                  <span class="menu-text">Nosotros</span><i class="fa fa-group"></i>
              </md-button>
              <md-button class="md-primary" ng-click="close()" href="portafolio.html">
                  <span class="menu-text">Portafolio</span><i class="fa fa-suitcase"></i>
              </md-button>
              <md-button target="_blank" class="md-primary" ng-click="close()" href="documents/brochure.pdf">
                  <span class="menu-text">Brochure</span><i class="fa fa-asterisk"></i>
              </md-button>
              <md-button target="_blank" class="md-primary" ui-sref = "paquetes">
                <span class="menu-text">Paquetes</span><i class="fa fa-asterisk"></i>
            </md-button>
              <md-button class="md-primary" ng-click="toBlog()">
                  <span class="menu-text">Artículos</span><i class="fa fa-cubes"></i>
              </md-button>
              <md-button class="md-primary" ng-click="close()" href="documents/herramientas.zip">
                  <span class="menu-text">Herramientas</span><i class="fa fa-wrench"></i> 
              </md-button>
              <md-button class="md-primary" ng-click="close()" href="#/home#contact">
                  <span class="menu-text">Contacto</span><i class="fa fa-info"></i> 
              </md-button>
              <div class="hidden">
                  <md-button class="md-primary" ng-click="newTest()">
                      <span class="menu-text">Iniciar test</span><i class="fa fa-edit"></i>
                  </md-button>
                  <md-button class="md-primary" href="https://www.adntalent.com/panel/">
                      <span class="menu-text">Iniciar sesión</span><i class="fa fa-unlock"></i>
                  </md-button>
                  <md-button class="md-primary" ui-sref = "paquetes">
                      <span class="menu-text">Paquetes</span><i class="fa fa-unlock"></i>
                  </md-button>
                  <div class="dropdown-divider"></div>
                  <md-button class="md-primary" href="#contact">
                      <span class="menu-text">+52 (492)-164-6289</span><i class="fa fa-phone"></i>
                  </md-button>
                  <div class=" dropdown-item nav-item nav-link contact-social padding-menu" style="text-align: center!important;">
                      <div class="block clearfix">
                        <a href="" class="btn btn-icon btn-social rounded btn-sm">
                            <i class="fa fa-envelope" style="font-size: medium;"></i>                            
                            <i class="fa fa-envelope orange"></i>
                        </a>
                        <a href="" class="btn btn-icon btn-social rounded btn-sm">
                          <i class="fa fa-youtube"></i>
                          <i class="fa fa-youtube red"></i>
                        </a>
                        
                        <a href="" class="btn btn-icon btn-social rounded btn-sm">
                          <i class="fa fa-facebook"></i>
                          <i class="fa fa-facebook indigo"></i>
                        </a>
                        <a href="" class="btn btn-icon btn-social rounded btn-sm">
                            <i class="fa fa-twitter"></i>
                            <i class="fa fa-twitter light-blue"></i>
                        </a>
                        <a href="" class="btn btn-icon btn-social rounded btn-sm">
                          <i class="fa fa-youtube"></i>
                          <i class="fa fa-youtube red"></i>
                        </a>
                        
                      </div>
                  </div>
              </div> 
              
            </md-content>
          </md-sidenav>
        </section>
    </div> 
    <div class="main">
      <div id="nabvar" class="container-fluid primary" style="overflow: visible; z-index: 3;"> 
          <div class="navbar navbar-toggleable-sm flex-row align-items-center">
              <a ng-click="toggleLeft()" class="md-primary">
                  <i class="material-icons"></i>
              </a>
            
              <a class="navbar-brand">
                <img src="images/logolittle.png" alt=".">
              </a>
              <ul id='menu-registry' class="nav navbar-nav text-blue-hover" style="visibility: hidden;">
                <li class="nav-item dropdown">
                    <a class="nav-link" ng-click="newTest()">
                        <span class="hidden-xs-down btn btn-sm rounded btn-outline b-danger text-u-c _600" style="padding: 0.7rem 0.5rem !important; text-transform: capitalize!important; background-color: rgba(243, 146, 0, 1) !important;">
                          Iniciar test
                        </span>
                    </a>
                </li>
                <li class="nav-item color-link signup">
                    <a class="nav-link" du-smooth-scroll="section-intro" du-liso-scroll href="https://www.adntalent.com/panel/">
                        <span class="hidden-xs-down btn btn-sm rounded btn-outline b-danger text-u-c _600" style="padding: 0.7rem 0.5rem !important; text-transform: capitalize!important; background-color: rgba(243, 146, 0, 1) !important;">
                          Iniciar sesión
                        </span>
                    </a>
                </li>
                <li class="nav-item color-link signup">
                  <a class="nav-link" du-smooth-scroll="section-intro" du-liso-scroll ui-sref="paquetes">
                      <span class="hidden-xs-down btn btn-sm rounded btn-outline b-danger text-u-c _600" style="padding: 0.7rem 0.5rem !important; text-transform: capitalize!important; background-color: rgba(243, 146, 0, 1) !important;">
                        Paquetes
                      </span>
                  </a>
              </li>
              </ul>
              <div class="collapse navbar-collapse" >
                <ul class="nav navbar-nav flex-row align-items-center ml-auto contact">
                        <div class="nav-item nav-link contact-email">
                            <span class="element">
                                <i class="fa fa-phone" style="font-size: medium;"></i> +52  (492)-164-6289
                            </span>
                         
                        </div>
                            <div class="nav-item nav-link contact-social">
                              <div class="block clearfix">
                                    <a href="https://api.whatsapp.com/send?phone=524921646289&text=Deseo%20agendar%20una%20entrevista" target=”_blank” class="btn btn-icon btn-social rounded btn-sm">
                                        <i class="fa fa-whatsapp" style="font-size: medium;"></i>                            
                                        <i class="fa fa-whatsapp green"></i>
                                    </a>
                                    <a href="" target=”_blank” class="btn btn-icon btn-social rounded btn-sm">
                                        <i class="fa fa-envelope" style="font-size: medium;"></i>                            
                                        <i class="fa fa-envelope orange"></i>
                                    </a>
                                    <a href="https://www.facebook.com/adntalent.iqtest/" target=”_blank” class="btn btn-icon btn-social rounded btn-sm">
                                        <i class="fa fa-facebook"></i>
                                        <i class="fa fa-facebook indigo"></i>
                                    </a>
                                    <a href="https://twitter.com/AdnTalent" target=”_blank” class="btn btn-icon btn-social rounded btn-sm">
                                        <i class="fa fa-twitter"></i>
                                        <i class="fa fa-twitter light-blue"></i>
                                    </a>
                                    <a href="https://www.instagram.com/adn_talent/" target=”_blank” class="btn btn-icon btn-social rounded btn-sm">
                                      <i class="fa fa-instagram"></i>
                                      <i class="fa fa-instagram indigo"></i>
                                    </a>
                                    <a href="https://mx.linkedin.com/company/adn-talent?trk=public_profile_position_image" target=”_blank” class="btn btn-icon btn-social rounded btn-sm">
                                      <i class="fa fa-linkedin"></i>
                                      <i class="fa fa-linkedin indigo"></i>
                                    </a>
                                  
                                    <a href="https://www.youtube.com/channel/UCDypRqRmXOcssijqUjs4BBQ" target=”_blank” class="btn btn-icon btn-social rounded btn-sm">
                                        <i class="fa fa-youtube"></i>
                                        <i class="fa fa-youtube red"></i>
                                    </a>
                                    <a href="social-share.html" onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;" data-size="large" target=”_blank” class="btn btn-icon btn-social rounded btn-sm">
                                      <i class="fa fa-share-alt"></i>
                                      <i class="fa fa-share-alt"></i>
                                    </a>
                                   
                                    </div>
                            </div>
                </ul>
              </div>
          </div>
          <div id="btn-up" class="btn-up">
            <a id="scroll-up" du-smooth-scroll="section-intro" du-liso-scroll duratin="6000" class="btn btn-fw scroll-up">
              <i class="fa fa-chevron-up"></i>
            </a>
          </div>
      </div>

      <ui-view></ui-view>

      <footer class="white r box-shadow-z0 m-b p-md footer">
       
		    <div class="footer p-a-md wow bounceInUp">
          <div class="footer-input">
            <!-- Begin MailChimp Signup Form -->
                <!-- <form action="//cieloytierra.us4.list-manage.com/subscribe/post?u=80dfc1d81f464d7e2676d228b&amp;id=86011bce77" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                    <div id="mc_embed_signup_scroll">
                    <div class="mc-field-group">
                      <label for="mce-EMAIL">Email Address </label>
                      <input type="email" value="" placeholder="ejemplo@gmail.com" name="EMAIL" class="required email" id="mce-EMAIL">
                    </div>
                    <div id="mce-responses" class="clear">
                      <div class="response" id="mce-error-response" style="display:none"></div>
                      <div class="response" id="mce-success-response" style="display:none"></div>
                    </div>     -->
                    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                    <!-- <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_80dfc1d81f464d7e2676d228b_86011bce77" tabindex="-1" value=""></div>
                    <div class="clear"><input type="submit" value="Suscribirse" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
                    </div>
                </form> -->
                <!--End mc_embed_signup-->
            <form action="">
                <label>E-mail: <input type="email" ng-model="email" placeholder="ejemplo@gmail.com" /></label> 
                <input type="submit" id="submit" value="Suscribirse" />
            </form>
          </div>
          <div class="text-center">
            <div class="nav m-y justify-content-center footer-menu">
                <a class="nav-link" ui-sref="home">
                  <span>Inicio</span> 
                </a>
                <a class="nav-link" href="#/home#about-us">
                  <span>Nosotros</span> 
                </a>
                <a class="nav-link" href="#/home#portfolio">
                  <span>Portafolio</span> 
                </a>
                <a target="_blank" class="nav-link" href="documents/brochure.pdf">
                  <span>Brochure</span> 
                </a>
                <a class="nav-link" ui-sref="blog">
                  <span>Artículos</span> 
                </a>
                <a class="nav-link" href="documents/herramientas.zip">
                  <span>Herramientas</span> 
                </a>
                <a class="nav-link"  href="#/home#contact">
                  <span>Contacto</span> 
                </a>
            </div>
            <div class="block clearfix">
              <a href="https://api.whatsapp.com/send?phone=524921646289&text=Deseo%20agendar%20una%20entrevista" target=”_blank” class="btn btn-icon btn-social rounded btn-sm">
                  <i class="fa fa-whatsapp" style="font-size: medium;"></i>                            
                  <i class="fa fa-whatsapp green"></i>
              </a>
              <a href="" target=”_blank” class="btn btn-icon btn-social rounded btn-sm">
                  <i class="fa fa-envelope" style="font-size: medium;"></i>                            
                  <i class="fa fa-envelope orange"></i>
              </a>
              <a href="https://www.facebook.com/adntalent.iqtest/" target=”_blank” class="btn btn-icon btn-social rounded btn-sm">
                <i class="fa fa-facebook"></i>
                <i class="fa fa-facebook indigo"></i>
              </a>
              <a href="https://twitter.com/AdnTalent" target=”_blank” class="btn btn-icon btn-social rounded btn-sm">
                <i class="fa fa-twitter"></i>
                <i class="fa fa-twitter light-blue"></i>
              </a>
              <a href="https://www.youtube.com/channel/UCDypRqRmXOcssijqUjs4BBQ" target=”_blank” class="btn btn-icon btn-social rounded btn-sm">
                <i class="fa fa-youtube"></i>
                <i class="fa fa-youtube red"></i>
              </a>
            </div>
          </div>
          <div class="b b-b m-y-md"></div>
          <div class="row footer-bottom">
            <div class="col-sm-8">
              <small class="text-muted">© Copyright ADN Talent S.A de C.V 2019.<a  ui-sref="rights">Todos los Derechos Reservados.</a> </small>
              <a href="https://ssl.comodo.com">
                <img src="https://ssl.comodo.com/images/trusted-site-seal.png" alt="Comodo Trusted Site Seal" width="113" height="59" style="border: 0px;"></a><br> <span style="font-weight:bold; font-size:7pt"><a href="https://ssl.comodo.com"></a></span><br>
            </div>
            <div class="col-sm-3">
              <div class="text-sm-right text-xs-left text-muted">
                <strong><a class="nav-link" ui-sref="privacity">Aviso de Privacidad</a></strong>
                <strong><a class="nav-link" ui-sref="terms">Términos y Condiciones</a></strong>
                <strong><a class="nav-link" ui-sref="legal">Aviso Legal</a></strong>

                <!-- <a class="navbar-brand">
                    <img src="images/login.png" alt=".">
                </a> -->
              </div>
            </div>
          </div>
        </div>
      </footer>
    </div> 
    
      <!-- build:js scripts/app.html.js -->
  <!-- jQuery -->
    <script src="libs/jquery/jquery/dist/jquery.js"></script>
    <script src="libs/jquery.isotope/jquery.isotope.min.js"></script>
    
    <script src="libs/jquery/tether/dist/js/tether.min.js"></script>
    <script src="libs/jquery/bootstrap/dist/js/bootstrap.js"></script>

  <!-- core -->
    <script src="libs/jquery/underscore/underscore-min.js"></script>
    <script src="libs/jquery/jQuery-Storage-API/jquery.storageapi.min.js"></script>
    <script src="libs/jquery/PACE/pace.min.js"></script>

    <script src="scripts/config.lazyload.js"></script>
    <script src="scripts/palette.js"></script>
    <script src="scripts/ui-device.js"></script>
    <script src="scripts/ui-form.js"></script>
    <script src="scripts/ui-include.js"></script>
    <script src="scripts/ui-jp.js"></script>
    <script src="scripts/ui-load.js"></script>
    <script src="scripts/ui-nav.js"></script>
    <script src="scripts/ui-screenfull.js"></script>
    <script src="libs/jquery/screenfull/dist/screenfull.min.js"></script>
    <script src="scripts/ui-scroll-to.js"></script>
    <script src="scripts/ui-toggle-class.js"></script>
    <script src="scripts/app.js"></script>

    <!-- ajax -->
    <script src="libs/jquery/jquery-pjax/jquery.pjax.js"></script>
    <script src="scripts/ajax.js"></script>
</body>
</html>   