<md-dialog class="my-modal" aria-label="Mango (Fruit)">
  <form ng-cloak>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <img class="logo" src="images/login.png" alt="">
            <span flex></span>                    
            <md-button class="md-icon-button" ng-click="cancel()">
              <i class="fa fa-close" aria-label="Close dialog"></i>
            </md-button>
        </div>
        <!-- <div class="md-toolbar-tools">
          <h2>Mango (Fruit)</h2>
          <span flex></span>
          <md-button class="md-icon-button" ng-click="cancel()">
            <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
          </md-button>
        </div> -->
    </md-toolbar>
    
    <md-dialog-content style="max-width:800px;max-height:810px; ">
        <!-- <div class="md-dialog-content">
            <div class="dialog-menu">
              <a ui-sref="preregistro" class="md-btn md-fab m-b-sm white"><i class="fa fa-user"></i></a>
              <a ui-sref="registro" class="md-btn md-fab m-b-sm white"><i class="fa fa-tasks"></i></a>
              <a ui-sref="test" class="md-btn md-fab m-b-sm white"><i class="fa fa-edit"></i></a>
              <a class="md-btn md-fab m-b-sm white"><i class="fa fa-check"></i></a>
            </div>
            <h2 class="textNew">
                <span>
                    Obtén una cuenta ADN Talent
                </span>
            </h2>
            <div class="borderTextNew" style="margin-left: calc(50% - 5rem);"></div>                      
            <h5 class="m-b-md" style="text-align: center;">{{vm.tipo}}</h5>
            <ui-view></ui-view>   
        </div>                  -->
        <md-tabs md-dynamic-height md-border-bottom>
            <md-tab label="one">
                <div class="md-dialog-content">
                    <div class="center-block col-md-10 .offset-md-3 w-auto-xs">
                            <div class="p-a-md box-color r text-color m-a">
                            <h2 class="textNew">
                                <span>
                                    Obtén una cuenta ADN Talent
                                </span>
                            </h2>
                            <div class="borderTextNew" style="margin-left: calc(50% - 5rem);"></div>                      
                            <h5 class="m-b-md" style="text-align: center;">{{vm.tipo}}</h5>                      
                            <div class="m-b text-sm">
                                <!-- Obtén una cuenta ADN Talent {{vm.tipo}}. -->
                            </div>
                            <form name="form">
                                <div class="md-form-group">
                                <input type="text"  class="md-input" 
                                ng-model="vm.preRegisterObj.correoEle" ng-keyup="vm.validarCorreo(vm.preRegisterObj)" required>
                                <label>Correo Eléctronico</label>
                                <span ng-if="vm.correoValidado == false && vm.correoVacio == false" style="color:red;">El correo ingresado ya se encuentra registrado.</span>
                                <span ng-if="vm.correoVacio == true && vm.preRegisterObj.correoEle != ''" style="color:red;">El correo ingresado tiene la estructura incorrecta.</span>
                                </div>
                                <div class="md-form-group">
                                    <!-- <input password-strength-indicator class="form-control" ng-model="wm.pass" type="password" name="password" placeholder="Password"> -->
                                <input type="{{vm.inputType}}" password-strength-indicator ng-minlength="8" class="md-input" ng-keyup="vm.validarPass()" ng-model="vm.preRegisterObj.contrasenia" required>
                                <label>Contraseña</label>
                                <i class="material-icons md-24" ng-click="vm.hideShowPassword()">&#xe8a0;</i>
                                <span style="font-size:9px;">Debe contener 8 caracteres entre Mayusculas, Caracteres especiales y Números</span>
                                
                                </div>
                                <div class="md-form-group">
                                <input type="{{vm.inputTypeConfirm}}" class="md-input" ng-keyup="vm.validarPass()" ng-model="vm.preRegisterObj.confirmPas" required>
                                <label>Confirmar Contraseña</label>
                                <i class="material-icons md-24" ng-click="vm.hideShowSecondPassword()">&#xe8a0;</i>
                                <span ng-if="vm.confirmarPass == false && vm.preRegisterObj.contrasenia != '' && vm.preRegisterObj.confirmPass != ''" style="color:red;">La contraseña y su confirmacion no son iguales..</span>
                        
                                </div>
                                <div class="md-form-group">
                                <select name = "secreta" ng-model="vm.preRegisterObj.preguntaSeg" class="form-control">
                                    <option value = "lugarNac">Lugar de Nacimiento de la Madre</option>
                                    <option value="mejorAmigo">Mejor amigo de la infancia</option>
                                    <option value="nombreMascota">Nombre de la primer mascota</option>
                                    <option value="personaje">Personaje Historico</option>
                                </select>
                                <input type="text" class="md-input" ng-model="vm.preRegisterObj.respuestaPreSeg" required placeholder="Respuesta a la pregunta de seguridad">
                                <label>Pregunta Secreta</label>
                                </div>
                                <div class="m-b-md">
                                <label class="md-check">
                                    <input type="checkbox" ng-model="vm.terminos" required><i class="primary"></i> Acepto los <a class="text-primary" href="">términos y condiciones</a>
                                </label>
                                </div>
                                <button ng-disabled ="form.$invalid || vm.correoValidado == false || vm.confirmarPass == false || vm.terminos != true " ng-click="vm.registrar(vm.preRegisterObj)" class="btn primary btn-block p-x-md">Registrate</button>
                            </form>
                            <div class="p-v-lg text-center">
                            <div>Ya tienes una cuenta? <a ui-sref="loginIndex" class="text-primary _600">Inicia Sesión</a></div>
                            </div>
                            </div>
                    </div>
                </div>
            </md-tab>

            <md-tab label="two">
                <div class="md-dialog-content">
                    <div class="center-block col-md-10 .offset-md-3 w-auto-xs">
                                <div class="aspirant">
                                    <h2 class="textNew">
                                        <span>
                                                Registro
                                        </span>
                                    </h2>
                                    <div class="borderTextNew" style="margin-left: calc(50% - 5rem);"></div>
                                    <div class="padding">
                                        <ng-form name="aspirantForm" class="p-x-xs">
                                                <!-- <span class="label rounded info">Los campos marcados con * son obligatorios</span> -->
                                            <div class="row">
                                                <div class="form-group col-md-6">
                                                    <label class="form-control-label">Puesto Solicitado *</label>
                                                    <input type="text" id="puestoSol" name="puestoSol" placeholder="Ej. Contador, Cobrador, Secretaria, Almacenista, Ingeniero industrial, eléctrico, etc" class="form-control" ng-model="vm.candidatoObj.puestoSol" required> 
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group col-md-4">                                            
                                                    <label class="form-control-label">Apellido Paterno*</label>
                                                    <input placeholder="" name="apellidoPat" id="apellidoPat" type="text" class="form-control" ng-model="vm.candidatoObj.apellidoPat" required>
                                                </div>
                                                <div class="form-group col-md-4">                                            
                                                    <label class="form-control-label">Apellido Materno*</label>
                                                    <input placeholder="" name="apellidoMat" id="apellidoMat" type="text" class="form-control" ng-model="vm.candidatoObj.apellidoMat" required> 
                                                </div>
                                                <div class="form-group col-md-4">                                            
                                                    <label class="form-control-label">Nombre*</label>
                                                    <input type="text" placeholder="" name="nombre" id="nombre" class="form-control" ng-model="vm.candidatoObj.nombre" required>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group col-md-6">
                                                        <label class="form-control-label">Fecha de Nacimiento</label>
                                                        <div class="row born-date">
                                                            <select name="dia" ng-model="vm.year" class="form-control form-control-sm col-md-3">
                                                                <option value="">Año</option>              
                                                                <option ng-repeat="y in vm.years" value="{{y}}">{{y}}</option>
                                                            </select>
                                                            <select name="dia" ng-model="vm.month" class="form-control form-control-sm col-md-3">              
                                                                <option value="">Mes</option>
                                                                <option ng-repeat="m in vm.months" value="{{m}}">{{m}}</option>
                                                            </select>
                                                            <select name="dia" ng-model="vm.day" class="form-control form-control-sm col-md-3">              
                                                                <option value="">Día</option>
                                                                <option ng-repeat="d in vm.days" value="{{d}}">{{d}}</option>
                                                            </select>
                                                        </div>
                                                </div>
                                                <div class="form-group col-md-3">
                                                        <label class="col-sm-1 form-control-label">CURP</label>
                                                        <input type="text" placeholder="" class="form-control" ng-keyup="vm.validarCurp(vm.candidatoObj.curp)" name="rfc" ng-model="vm.candidatoObj.curp" > 
                                                        <span ng-if="vm.curpValidado == false && vm.candidatoObj.curp.length > 0"   style="color:red;">El CURP ingresado no tiene la estructura correcta.</span>
                                                </div>
                                                <div class="form-group col-md-3">
                                                        <label class="col-sm-1 form-control-label">Teléfono*</label>
                                                        <input type="text" placeholder="" name="telefono" id="telefono" class="form-control" ng-model="vm.candidatoObj.telefono" required> 
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group col-md-4">
                                                    <label class="form-control-label">¿Tiene hijos? </label>
                                                    <input type="checkbox" ng-model = "vm.candidatoObj.hijos" > Sí
                                                    <textarea class="form-control" ng-disabled="!vm.candidatoObj.hijos" placeholder="¿Cuántos y que edades?" rows="4" ng-model="vm.candidatoObj.tipohijos" data-minwords="6"></textarea>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group col-md-4">
                                                        <label class="form-control-label">Teléfono de Casa</label>
                                                        <input placeholder="" type="text" class="form-control" ng-model="vm.candidatoObj.telCasa">
                                                </div>
                                                <div class="form-group col-md-4">
                                                        <label class="form-control-label">Teléfono Alternativo *</label>
                                                        <input placeholder="" type="text" name="telAlt" id="telAlt" class="form-control" ng-model="vm.candidatoObj.telAlt" required> 
                                                </div>
                                                <div class="form-group col-md-4">
                                                        <label class="form-control-label">Discapacidad</label>
                                                        <input type="checkbox" ng-model = "vm.candidatoObj.discapacidad"  > Sí
                                                        <select name="discapacidad" ng-disabled="!vm.candidatoObj.discapacidad" ng-model="vm.candidatoObj.discapacidad" class="form-control form-control-sm">              
                                                            <option value="VISUAL">Visual</option>
                                                            <option value="MOTRIZ">Motriz</option>
                                                            <option value="AUDITIVA">Auditiva</option>
                                                        </select>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group col-md-4">
                                                        <label class="form-control-label">Sexo *</label>
                                                        <div>
                                                            <label class="checkbox-inline">
                                                                <input name="sexo" id="sexo" type="radio" ng-model="vm.candidatoObj.sexo" value="10" required> Masculino 
                                                            </label>
                                                            <label class="checkbox-inline">
                                                                <input type="radio" ng-model="vm.candidatoObj.sexo" value="9"> Femenino 
                                                            </label>
                                                        </div>
                                                </div>
                                                <div class="form-group col-md-4">
                                                        <label class="form-control-label">Estado Cívil*</label>
                                                        <select ng-model="vm.candidatoObj.estadoCiv" name="estadoCiv" id="estadoCiv" required class="form-control form-control-sm">
                                                            <option value="">Selecciona</option>
                                                            <option value="17">Soltero</option>
                                                            <option value="18">Divorciado</option>
                                                            <option value="20">Casado</option>
                                                            <option value="19">Viudo</option>
                                                            <option value="36">Unión Libre</option>
                                                        </select> 
                                                </div>
                                                <div class="form-group col-md-4">
                                                        <label class="form-control-label">Correo Alternativo</label>
                                                        <input type="text" placeholder="alternativo@dominio.com" class="form-control" ng-model="vm.candidatoObj.correoAlterno"> 
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group col-md-4">
                                                    <label class="form-control-label">Calle*</label>
                                                    <input type="text" name="calle" id="calle" placeholder="" class="form-control" ng-model="vm.candidatoObj.calle" required> 
                                                </div>
                                                <div class="form-group col-md-4">
                                                    <label class="form-control-label">Número Ext*</label>
                                                    <input type="text" name="numExt" id="numExt" placeholder="" ng-model="vm.candidatoObj.numExt" required class="form-control">
                                                </div>
                                                <div class="form-group col-md-4">    
                                                    <label class="form-control-label">Número Int</label>
                                                    <input type="text" placeholder="" ng-model="vm.candidatoObj.numInt" class="form-control">
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group col-md-4">
                                                    <label class="form-control-label">Colonia*</label>
                                                    <input type="text" name="colonia" id="colonia" placeholder="" class="form-control" ng-model="vm.candidatoObj.colonia" required> 
                                                </div>
                                                <div class="form-group col-md-4">
                                                    <label class="form-control-label">Código Postal*</label>
                                                    <input type="text" name="codigoPostal" id="codigoPostal" placeholder="" class="form-control" ng-model="vm.candidatoObj.codigoPostal" required> 
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group col-md-4">
                                                        <label class="form-control-label">País *</label>
                                                        <select name="pais" id="pais" name="estadoC" ng-model="vm.candidatoObj.pais"  class="form-control form-control-sm" required>
                                                            <option value="">Selecciona</option>                  
                                                            <option value="1">México</option>
                                                        </select>
                                                </div>
                                                <div class="form-group col-md-4">
                                                        <label class="form-control-label">Estado *</label>
                                                        <select name="estado" id="estado" ng-model="vm.estado" ng-options="c.nombre for c in vm.estados"  class="form-control form-control-sm" required>
                                                            <option value="">Selecciona</option> 
                                                        </select>
                                                </div>
                                                <div class="form-group col-md-4">
                                                        <label class="form-control-label">Municipio *</label>
                                                        <select ng-model="vm.municipio" name="municipio" id="municipio" ng-options="p.nombre for p in vm.estado.municipios.municipio"  class="form-control form-control-sm" required>
                                                            <option value="">Selecciona</option> 
                                                        </select>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group col-md-4">
                                                    <label class="form-control-label">Escolaridad*</label>
                                                    <select name="escolaridad" id="escolaridad"  ng-model="vm.candidatoObj.escolaridad" class="form-control form-control-sm" required>
                                                        <option value="">Selecciona</option>                  
                                                        <option value="11">Primaria</option>
                                                        <option value="12">Secundaria</option>
                                                        <option value="13">Bachiller</option>
                                                        <option value="16">Técnico</option>
                                                        <option value="15">Licenciatura</option>
                                                        <option value="37">Maestría</option>
                                                        <option value="39">Doctorado</option>
                                                    </select>
                                                </div>
                                                <div class="form-group col-md-4">
                                                    <label class="form-control-label">Situación Académica</label>
                                                    <select name="vm.candidatoObj.situacionAca" ng-model="vm.candidatoObj.situacionAca" class="form-control form-control-sm">
                                                        <option value="">Selecciona</option>
                                                        <option value="1589">Certificado</option>
                                                        <option value="11">Estudiante</option>
                                                        <option value="12">Trunca</option>
                                                        <option value="13">Pasante</option>
                                                        <option value="16">Titulado</option>
                                                        <option value="15">Cédula Profesional</option>
                                                    </select>
                                                </div>
                                            </div>    
                                            <div class="row">
                                                <div class="form-group col-md-4">
                                                        <label class="form-control-label">Área de Profesión</label>
                                                        <select name="vm.candidatoObj.areaPro" ng-model="vm.candidatoObj.areaPro" class="form-control form-control-sm">
                                                            <option value="">Selecciona</option>
                                                            <option value="1590">No Aplica</option>
                                                            <option ng-repeat="area in vm.areasAcademicas" value="{{area.g01_id}}">{{area.g01_descrip}}</option>
                                                        </select>
                                                </div>
                                                <div class="form-group col-md-4">
                                                        <label class="form-control-label">Tiempo de Experiencia </label>
                                                        <select name="vm.candidatoObj.tipoCon" ng-model="vm.candidatoObj.experiencia" class="form-control form-control-sm">
                                                            <option value="">Selecciona</option> 
                                                            <option value="Ninguna">Ninguna</option>                 
                                                            <option value="Hasta 3">Hasta 3 Años</option>  
                                                            <option value="De 3 a 5">De 3 a 5 Años</option>
                                                            <option value="Más de 5">Más de 5 Años</option>
                                                        </select>
                                                </div>
                                                <div class="form-group col-md-4">
                                                        <label class="form-control-label">Sueldo Después de Impuestos(Mensual)</label>
                                                        <div class="input-group m-b">
                                                        <span class="input-group-addon">$</span>
                                                            <input type="text" class="form-control" ng-model = "vm.candidatoObj.sueldo">
                                                        <span class="input-group-addon">.00</span>
                                                        </div>
                                                </div>
                                            </div>
                                            <div ng-repeat="idioma in vm.idiomas">
                                                    <div class="form-group row">
                                                    <label class="col-sm-1 form-control-label">Idioma </label>
                                                    <div class="col-sm-3">
                                                        <select name="estadoC" ng-model="vm.candidatoObj.idiomas[$index]"  class="form-control form-control-sm">
                                                            <option value="">Selecciona</option>                  
                                                            <option value="esp">Español</option>
                                                            <option value="ing">Ingles</option>
                                                        </select>
                                                    </div>
                                    
                                                    <label class="col-sm-1 form-control-label">Dominio </label>
                                                    <div class="col-sm-3">
                                                        <select name="dominio" ng-model="vm.candidatoObj.dominio[$index]"  class="form-control form-control-sm">
                                                            <option value="">Selecciona</option>                  
                                                            <option value="basico">Básico</option>
                                                            <option value="intermedio">Intermedio</option>
                                                            <option value="avanzado">Avanzado</option>
                                                            <option value="nativo">Nativo</option> 
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group col-md-4">
                                                        <label class="form-control-label">Agregar idioma</label>
                                                        <button class="btn btn-icon white" ng-click="vm.agregarIdioma()">
                                                        <i class="fa fa-plus"></i>
                                                        </button>
                                                        <button class="btn btn-icon white" ng-click="vm.removerIdioma()">
                                                        <i class="fa fa-remove"></i>
                                                        </button>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group col-md-4">
                                                        <label class="form-control-label">Posibilidad de Viajar</label>
                                                        <div>
                                                            <label class="radio-inline">
                                                                <input type="radio" ng-model="vm.candidatoObj.disponibilidadVia" value="Si"> Sí
                                                            </label>
                                                            <label class="radio-inline">
                                                                <input type="radio" ng-model="vm.candidatoObj.disponibilidadVia" value="No"> No
                                                            </label>
                                                        </div>
                                                </div>
                                                <div class="form-group col-md-4">
                                                        <label class="form-control-label">Radicar Fuera</label>
                                                        <div>
                                                            <label class="radio-inline">
                                                                <input type="radio" ng-model="vm.candidatoObj.cambioRes" value="Si"> Sí
                                                            </label>
                                                            <label class="radio-inline">
                                                                <input type="radio" ng-model="vm.candidatoObj.cambioRes" value="No"> No
                                                            </label>
                                                        </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group col-md-6">
                                                        <label class="col-sm-1 form-control-label">Software</label>
                                                        <textarea class="form-control" rows="4" ng-model="vm.candidatoObj.software" data-minwords="6" ></textarea>
                                                </div>
                                                <div class="form-group col-md-6">
                                                        <label class="col-sm-1 form-control-label">Conocimientos</label>
                                                        <textarea class="form-control" rows="4" ng-model="vm.candidatoObj.conocimientos" data-minwords="6"  ></textarea>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group col-md-6">
                                                        <label class="form-control-label">Reseña Laboral *</label>
                                                        <textarea name="resenaLab" id="resenaLab" class="form-control" rows="4" ng-model="vm.candidatoObj.resenaLab" data-minwords="6" required></textarea>
                                                </div>
                                                <div class="form-group col-md-6">
                                                        <label class="form-control-label">Cirugías</label>
                                                        <textarea class="form-control" rows="4" ng-model="vm.candidatoObj.cirugias" data-minwords="6"  ></textarea>
                                                </div>
                                            </div>
                                            <div class="row">    
                                                <div class="form-group col-md-6">
                                                        <label class="form-control-label">Padecimientos Crónicos</label>
                                                        <textarea class="form-control" rows="4" ng-model="vm.candidatoObj.padCronicos" data-minwords="6" ></textarea>
                                                </div>
                                                <div class="form-group col-md-6">                                        
                                                        <label class="form-control-label">Tratamientos Médicos Permanentes</label>
                                                        <textarea class="form-control" rows="4" ng-model="vm.candidatoObj.traMedicos" data-minwords="6"  ></textarea>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group col-md-6">
                                                    <label class="form-control-label">Placas o Clavos Quirúrgicos Permanentes</label>
                                                    <textarea class="form-control" rows="4" ng-model="vm.candidatoObj.clavos" data-minwords="6" ></textarea>
                                                </div>
                                                <div class="form-group col-md-6">
                                                    <label class="form-control-label">Ocupación de los Padres</label>
                                                    <textarea class="form-control" rows="4" ng-model="vm.candidatoObj.ocuPadres" data-minwords="6" ></textarea>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group col-md-6">
                                                        <label class="form-control-label">Pasatiempos y hobbies</label>
                                                        <textarea class="form-control" rows="4" ng-model="vm.candidatoObj.hobbies" data-minwords="6"  ></textarea>
                                                </div>
                                                <div class="form-group col-md-6">    
                                                    <label class="form-control-label">Qué esperan otras personas que cambie de su caracter</label>
                                                    <textarea class="form-control" rows="4" ng-model="vm.candidatoObj.caracter" data-minwords="6"  ></textarea>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class ="form-group">
                                                        <label class="form-control-label">¿Tiene Redes Sociales? </label>
                                                        <input type="checkbox" ng-model = "vm.candidatoObj.tiporedes"  > Sí
                                                        <div class="md-padding text-center layout-row social" layout="center">
                                                                <div class="input-group">
                                                                    <input ng-disabled="!vm.candidatoObj.tiporedes" type="text" class="form-control ng-pristine ng-valid ng-empty ng-touched" name="facebook" ng-model="vm.facebook" placeholder="Facebook" aria-invalid="false">
                                                                    <div href="" class="btn btn-icon btn-social white rounded" title="Facebook">
                                                                        <i class="fa fa-facebook"></i>
                                                                    </div>
                                                                </div>
                                                                <div class="input-group">
                                                                    <input ng-disabled="!vm.candidatoObj.tiporedes"type="text" class="form-control ng-pristine ng-valid ng-empty ng-touched" name="twitter" ng-model="vm.twitter" placeholder="Twitter" aria-invalid="false">
                                                                    <div href="" class="btn btn-icon btn-social white rounded" title="Twitter">
                                                                        <i class="fa fa-twitter"></i>
                                                                    </div>
                                                                </div>
                                                                <div class="input-group">
                                                                    <input ng-disabled="!vm.candidatoObj.tiporedes"type="text" class="form-control ng-pristine ng-untouched ng-valid ng-empty" name="skype" ng-model="vm.skype" placeholder="Skype" aria-invalid="false">
                                                                    <div href="" class="btn btn-icon btn-social white rounded" title="Skype">
                                                                        <i class="fa fa-skype"></i>
                                                                    </div>
                                                                </div>
                                                                <div class="input-group">
                                                                    <input ng-disabled="!vm.candidatoObj.tiporedes"type="text" class="form-control ng-pristine ng-valid ng-empty ng-touched" name="linkedln" ng-model="vm.linkedln" placeholder="Linkedln" aria-invalid="false">
                                                                    <div href="" class="btn btn-icon btn-social white rounded" title="LinkedIn">
                                                                        <i class="fa fa-linkedin"></i>
                                                                    </div>
                                                                </div>
                                                                <div class="input-group">
                                                                    <input ng-disabled="!vm.candidatoObj.tiporedes"type="text" class="form-control ng-pristine ng-untouched ng-valid ng-empty" name="youtube" ng-model="vm.youtube" placeholder="Youtube" aria-invalid="false">
                                                                    <div href="" class="btn btn-icon btn-social white rounded" title="Youtube">
                                                                        <i class="fa fa-youtube"></i>
                                                                    </div>
                                                                </div>
                                                        </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group col-md-4">
                                                        <label class="form-control-label">Consumo de Alcohol </label>
                                                        <div>
                                                            <label class="checkbox-inline">
                                                                <input type="radio" ng-model="vm.candidatoObj.alcohol" value="si"> Sí
                                                            </label>
                                                            <label class="checkbox-inline">
                                                                <input type="radio" ng-model="vm.candidatoObj.alcohol" value="no"> No
                                                            </label>
                                                        </div>
                                                </div>
                                                <div class="form-group col-md-4">
                                                    <label class="form-control-label">Consumo de Tabaco </label>
                                                    <div>
                                                        <label class="checkbox-inline">
                                                            <input type="radio" ng-model="vm.candidatoObj.tabaco" value="si"> Sí
                                                        </label>
                                                        <label class="checkbox-inline">
                                                            <input type="radio" ng-model="vm.candidatoObj.tabaco" value="no"> No
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group col-md-4">
                                                    <label class="form-control-label">Video Reseña </label>
                                                    <input type="text" placeholder="https://youtu.be/njos57IJf-0" class="form-control" ng-model="vm.candidatoObj.videoYou"> 
                                                </div>
                                            </div>
                    
                                            <!-- Recaptcha -->
                                            <div class="form-group row">
                                                <div vc-recaptcha ng-model="vm.recaptchaResponse" on-success="vm.setResponse(response)" key="'6LcUoS4UAAAAAJzhqqS0pOjseolaGKq0mME579q9'"  lang="es"></div>
                                            </div>
                                            
                                            <div>
                                                <span ng-click="vm.focus('puestoSol')" style="font-size: 85% !important;" class="label success pos-rlt" ng-show="aspirantForm.puestoSol.$error.required">Puesto Solicitado Incompleto</span>
                                                <span ng-click="vm.focus('apellidoPat')" style="font-size: 85% !important;" class="label success pos-rlt" ng-show="aspirantForm.apellidoPat.$error.required">Apellido Paterno Incompleto</span>
                                                <span ng-click="vm.focus('apellidoMat')" style="font-size: 85% !important;" class="label success pos-rlt" ng-show="aspirantForm.apellidoMat.$error.required">Apellido Materno  Incompleto</span>
                                                <span ng-click="vm.focus('nombre')" style="font-size: 85% !important;" class="label success pos-rlt" ng-show="aspirantForm.nombre.$error.required">Nombre Incompleto</span>
                                                <span ng-click="vm.focus('telefono')" style="font-size: 85% !important;" class="label success pos-rlt" ng-show="aspirantForm.telefono.$error.required">Teléfono Incompleto</span>
                                                <span ng-click="vm.focus('telAlt')" style="font-size: 85% !important;" class="label success pos-rlt" ng-show="aspirantForm.telAlt.$error.required">Telefono Alterno Incompleto</span>
                                                <span ng-click="vm.focus('sexo')" style="font-size: 85% !important;" class="label success pos-rlt" ng-show="aspirantForm.sexo.$error.required">Sexo Incompleto</span>
                                                <span ng-click="vm.focus('estadoCiv')" style="font-size: 85% !important;" class="label success pos-rlt" ng-show="aspirantForm.estadoCiv.$error.required">Estado Civil Incompleto</span>
                                                <span ng-click="vm.focus('calle')" style="font-size: 85% !important;" class="label success pos-rlt" ng-show="aspirantForm.calle.$error.required">Calle Incompleto</span>
                                                <span ng-click="vm.focus('numExt')" style="font-size: 85% !important;" class="label success pos-rlt" ng-show="aspirantForm.numExt.$error.required">Número Externo Incompleto</span>
                                                <span ng-click="vm.focus('colonia')" style="font-size: 85% !important;" class="label success pos-rlt" ng-show="aspirantForm.colonia.$error.required">Colonia Incompleta</span>
                                                <span ng-click="vm.focus('codigoPostal')" style="font-size: 85% !important;" class="label success pos-rlt" ng-show="aspirantForm.codigoPostal.$error.required">Código Postal Incompleto</span>
                                                <span ng-click="vm.focus('pais')" style="font-size: 85% !important;" class="label success pos-rlt" ng-show="aspirantForm.pais.$error.required">País Incompleto</span>
                                                <span ng-click="vm.focus('estado')" style="font-size: 85% !important;" class="label success pos-rlt" ng-show="aspirantForm.estado.$error.required">Estado Incompleto</span>
                                                <span ng-click="vm.focus('municipio')" style="font-size: 85% !important;" class="label success pos-rlt" ng-show="aspirantForm.municipio.$error.required">Municipio Incompleto</span>
                                                <span ng-click="vm.focus('escolaridad')" style="font-size: 85% !important;" class="label success pos-rlt" ng-show="aspirantForm.escolaridad.$error.required">Escolaridad Incompleta</span>                                
                                                <span ng-click="vm.focus('resenaLab')" style="font-size: 85% !important;" class="label success pos-rlt" ng-show="aspirantForm.resenaLab.$error.required">Reseña Laboral Incompleta</span>
                                            </div>
                                            
                                            <div class="form-group row m-t-lg btn-registro">
                                                <button ng-disabled="!aspirantForm.$valid" type="submit"  class="btn btn-primary" ng-click="vm.guardarCandidato()">Registrar</button>
                                            </div>
                                        </ng-form>
                                    </div>
                                    
                                    <!-- Small Modal -->
                                    <div id="m-sm" class="modal fade col-md-6 col-md-offset-3"  data-backdrop="true">
                                        <div class="modal-center">
                                        <div class="row-cell v-m">
                                            <div class="modal-dialog modal-lg">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                <h5 class="modal-title">{{vm.dialogOptions.title}}</h5>
                                                </div>
                                                <div class="modal-body text-center p-lg">
                                                <p>{{vm.dialogOptions.info}}</p>
                                                <br>
                                                <p>Te gustaría iniciar un test Psicométrico</p>    
                                                
                                                <button class="md-btn md-raised m-b-sm w-xs white" ng-click="vm.iniciarTest()" style="color:black;width:100px;" type="button">Iniciar test</button>
                                                </div>
                                                <div class="modal-footer">
                                                <button type="button" class="btn btn-primary p-x-md" ng-click="vm.closeModal(vm.status)">{{vm.dialogOptions.button}}</button>
                                
                                
                                                </div>
                                
                                            
                                                
                                            </div> 
                                            </div>
                                        </div>
                                        </div>
                                    </div>
                                    
                                    <!--Spinner-->
                                    <div class="loading" ng-show="vm.loader">
                                        <div class="spinner">
                                            <div class="bounce1"></div>
                                            <div class="bounce2"></div>
                                            <div class="bounce3"></div>
                                        </div>
                                    </div>
                                
                            </div>  <!-- End DIV Aspirant -->
                    </div>
                </div>
            </md-tab>

            <md-tab label="three">
                <md-content class="md-padding">
                    <h1 class="md-display-2">Test</h1>
                    <p>Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus. Curabitur posuere molestie dictum. Morbi eget congue risus, quis rhoncus quam. Suspendisse vitae hendrerit erat, at posuere mi. Cras eu fermentum nunc. Sed id ante eu orci commodo volutpat non ac est. Praesent ligula diam, congue eu enim scelerisque, finibus commodo lectus.</p>
                </md-content>
            </md-tab>
        </md-tabs>   
    </md-dialog-content>
  </form>
</md-dialog>