<style>
    #principal-container{
        padding-top: 40px;
    }
    .md-button.md-default-theme.md-raised[disabled], .md-button.md-raised[disabled], .md-button.md-default-theme.md-fab[disabled], .md-button.md-fab[disabled]
    {
        background-color: grey;
    }
    .md-button{
        opacity: 1;
    }
    .label-lg {
        font-size: 2.33rem;
        padding: 2px 10px;
        background-color: rgba(23, 117, 170, 0.88);
        position: absolute;
    }
    .label.rounded {
        border-radius: 1.25rem;
    }
    .md-dialog-content {
        display: flex;
        justify-content: center;
    }
</style>
<md-dialog class="my-modal" aria-label="Mango (Fruit)">
  <form ng-cloak>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <img class="logo" src="images/login.png" alt="">
            <span flex></span>                    
            <md-button class="md-icon-button" ng-click="cancel()">
              <i class="fa fa-close" aria-label="Close dialog"></i>
            </md-button>
        </div>
        <!-- <div class="md-toolbar-tools">
          <h2>Mango (Fruit)</h2>
          <span flex></span>
          <md-button class="md-icon-button" ng-click="cancel()">
            <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
          </md-button>
        </div> -->
    </md-toolbar>
    
    <md-dialog-content style="max-width:800px;max-height:810px; ">
        <md-tabs md-dynamic-height md-border-bottom>
            <md-tab label="one">
                <div class="md-dialog-content">
                    <div class="col-sm-10 row" >    
                        <div class="col-md-6 signup col-sm-offset-3" id="principal-container" style="border-right: solid 1px rgba(23, 117, 170, 0.56);">       
                            <!-- <h2 class="textNew">
                                <span>
                                    Registrate
                                </span>
                            </h2>
                            <div class="borderTextNew" style="margin-left: calc(50% - 5rem);"></div> -->
                            <div class="panel panel-default " id="panel-registro">
                                <div class="panel-body">
                                    <form name="registroTest">
                                        <div class="form-group row ">
                                            <label class="form-control-label" for="input-id-1">Nombre completo</label>
                                            <input type="text" class="form-control" id="input-id-1" ng-model="vm.form.nombreCom" required>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-sm-6">
                                                <label class="form-control-label">Estado civil</label>
                                                <md-select name="estadoCivil" ng-model="vm.form.estadoCiv" required>
                                                    <md-option ng-repeat="estadoCivil in vm.estadoCiviles" ng-value="estadoCivil.id">
                                                        {{estadoCivil.tipo}}
                                                    </md-option>
                                                </md-select>
                                            </div>
                                            <div class="form-group col-sm-6">
                                                <label class="form-control-label" for="input-id-1">Escolaridad</label>
                                                <md-select name="escolaridad" ng-model="vm.form.escolaridad" required>
                                                    <md-option ng-repeat="escolaridad in vm.escolaridades" ng-value="escolaridad.id">
                                                        {{escolaridad.tipo}}
                                                    </md-option>
                                                </md-select>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-sm-6">
                                                <label class="form-control-label">Sexo</label>
                                                <md-radio-group ng-model="vm.form.sexo" required>
                                                    <md-radio-button  ng-value="10" aria-label="">
                                                            Hombre
                                                    </md-radio-button>
                                                    <md-radio-button  ng-value="9" aria-label="">
                                                            Mujer
                                                    </md-radio-button>
                                                </md-radio-group>            
                                            </div>
                                            <div class="form-group col-sm-6">
                                                <label class="form-control-label">Edad</label>
                                                <input type="text"  class="form-control"  ng-model="vm.form.edad" required>
                                            </div>
                                        </div>
                                        <div class="form-group row col-md-offset-2 test-register">
                                            <md-button class="md-raised md-primary"   ng-disabled="registroTest.$invalid" ng-click ="vm.enviar()">Registrarse</md-button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 signin col-sm-offset-3" id="principal-container" style="border-left: solid 1px rgba(23, 117, 170, 0.56);">     
                            <!-- <h2 class="textNew">
                                <span>
                                    Inicia Sesión
                                </span>
                            </h2>
                            <div class="borderTextNew" style="margin-left: calc(50% - 5rem);"></div>   -->
                            <div class="panel panel-default " id="panel-registro">
                                
                                <div class="panel-body">
                                    <form name="sesionTest">
                                    <div class="form-group row ">
                                    <label class="col-sm-12 form-control-label" for="input-id-1">Correo electrónico</label>
                                    <div class="col-sm-12">
                                        <input type="mail" class="form-control" id="input-id-1" ng-model="vm.loginForm.user" required>
                                    </div>
                                    </div> 
                        
                                    <div class="form-group row ">
                                    <label class="col-sm-12 form-control-label" for="input-id-1">Contrasena</label>
                                    <div class="col-sm-12">
                                        <input type="password" class="form-control" id="input-id-1" ng-model="vm.loginForm.password" required>
                                    </div>
                                    </div>        
                        
                                    <div class="form-group col-md-12 col-md-offset-2 test-register">
                                        <md-button class="md-raised md-primary"   ng-disabled="sesionTest.$invalid" ng-click ="vm.login()">Iniciar sesión</md-button>
                                    </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </md-tab>
      
            <md-tab label="two">
                <md-content class="md-padding">
                    <h1 class="md-display-2">Test</h1>
                    <p>Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus. Curabitur posuere molestie dictum. Morbi eget congue risus, quis rhoncus quam. Suspendisse vitae hendrerit erat, at posuere mi. Cras eu fermentum nunc. Sed id ante eu orci commodo volutpat non ac est. Praesent ligula diam, congue eu enim scelerisque, finibus commodo lectus.</p>
                </md-content>
            </md-tab>
        </md-tabs>   
    </md-dialog-content>
  </form>
</md-dialog>
