<style type="text/css">
    .divider {
   height: 1px;
   width:100%;
   display:block; /* for use on default inline elements like span */
   margin: 9px 0;
   overflow: hidden;
   background-color: #e5e5e5;
 }
  </style>
  <div class="center-block w-xxl w-auto-xs p-y-md">
     <div class="navbar">
       <div class="pull-center">
         <div ui-include="'views/blocks/navbar.brand.html'"></div>
       </div>
     </div>
     <div class="p-a-md box-color r box-shadow-z1 text-color m-a">
       <form name="form">
         <div class="md-form-group float-label">
           <input type="text" class="md-input" ng-model="vm.loginForm.user" required>
           <label>Usuario</label>
         </div>
         <div class="md-form-group float-label">
           <input type="password" class="md-input" ng-model="vm.loginForm.password" required>
           <label>Contraseña</label>
         </div>      
         <div class="m-b-md">        
           <label class="md-check">
             <input type="checkbox"><i class="primary"></i>Mantenerme en línea
           </label>
         </div>
         <button ng-click="vm.login(vm.loginForm)" class="btn primary btn-block p-x-md">Iniciar</button>
       </form>
       <div class="divider"></div>
         <div class="p-v-lg text-center">
          <div class="m-b"><a ui-sref="resetPassword" class="text-primary _100"><br>¿Olvidaste tu contraseña?</a></div>
         <div>¿No tienes cuenta? <a du-smooth-scroll="registro" du-liso-scroll class="text-primary _100">Registrate</a></div>
     </div>
     </div>
   </div>
 
 