<div>
    <div class="p-y-lg clearfix" style="background-color: #fff; width: 100%;">
      <!-- <div class="text-center"> -->
        <h2 class="textNew">
            <span>
                COMIENZA AHORA
            </span>
        </h2>
        <div class="borderTextNew"></div>
        <!-- <h2 class="_700 m-b">Comienza ahora!</h2>
        <h5 class="m-b-md">Creamos una perspectiva diferente a una vacante</h5> -->
        <!--<a ui-sref="preRegister({ type: 7 })" class="btn rounded btn-outline b-info text-info p-x-md m-y">Comienza Ahora!</a>-->
      <!-- </div> -->
    </div>
    <div class="row">
      <div class="col-lg-12">
              <div class="row no-gutter">
                <div class="col-sm-6 ">
                  <div class="box">
                    <div class="box-body text-center dker">   
                      <h6 class="text-u-c p-v-sm m-0 m-t">Empresa</h6>
                      <h3 class="m-0 m-l m-v">
                        <sup>$</sup>
                        <span class="text-2x">69</span>
                        <span class="text-xs">/ mo</span>
                      </h3>
                    </div>
                    <ul class="list b-t b-b m-0 no-radius text-center">
                      <li class="list-item">
                        <div class="list-body">
                          <i class="fa fa-check text-success m-r-xs"></i> Acceso a Panel de Control
                        </div>
                      </li>
                      <li class="list-item">
                        <div class="list-body">
                          <i class="fa fa-check text-success m-r-xs"></i> Ver vacantes
                        </div>
                      </li>
                      <li class="list-item">
                        <div class="list-body">
                          <i class="fa fa-check text-success m-r-xs"></i> Realizar Test
                      </li>
                      <li class="list-item">
                        <div class="list-body">
                          <i class="fa fa-check text-success m-r-xs"></i> Crear Test
                        </div>
                      </li>
                      <li class="list-item">
                        <div class="list-body">
                          <i class="fa fa-check text-success m-r-xs"></i> Registrar Vacantes
                        </div>
                      </li>
                      <li class="list-item">
                        <div class="list-body">
                          <i class="fa fa-remove text-danger m-r-xs"></i> Panel Personalizado
                        </div>
                      </li>
                    </ul>
                    <div class="text-center p-a-md">
                      <a ui-sref="preRegister({ type: 7 })" ng-click="showDialogRegister($event)" class="btn btn-block btn-lg danger">Registrate</a>
                    </div>
                  </div>
              </div>
                <div class="col-sm-6 col-sm-pull-4">
                  <div class="box">
                    <div class="box-body text-center dker">
                      <h6 class="text-u-c m-0 m-t">Candidato</h6>
                      <h3 class="m-0 m-l m-v">
                        <sup>$</sup>
                        <span class="text-2x">Gratis</span>
                        <span class="text-xs"></span>
                      </h3>
                    </div>
                    <ul class="list b-t b-b m-0 no-radius text-center">
                      <li class="list-item">
                        <div class="list-body">
                          <i class="fa fa-check text-success m-r-xs"></i> Acceso a Panel de Control
                        </div>
                      </li>
                      <li class="list-item">
                        <div class="list-body">
                          <i class="fa fa-check text-success m-r-xs"></i> Ver vacantes
                        </div>
                      </li>
                      <li class="list-item">
                        <div class="list-body">
                          <i class="fa fa-check text-success m-r-xs"></i> Realizar Test
                      </li>
                      <li class="list-item">
                        <div class="list-body">
                          <i class="fa fa-remove text-danger m-r-xs"></i> Crear Test
                        </div>
                      </li>
                      <li class="list-item">
                        <div class="list-body">
                          <i class="fa fa-remove text-danger m-r-xs"></i> Registrar Vacantes
                        </div>
                      </li>
                      <li class="list-item">
                        <div class="list-body">
                          <i class="fa fa-remove text-danger m-r-xs"></i> Panel Personalizado
                        </div>
                      </li>
                    </ul>
                    <div class="text-center p-a-md">
                      <a ui-sref="preRegister({ type: 8 })" ng-click="showDialogRegister($event)" class="btn btn-block btn-lg danger">Registrate</a>
                    </div>
                  </div>
                </div>
              </div>
      </div>
    </div>
</div>
<script type="text/javascript">
    function registro() {
                  
                        $.ajax({
                            url: "registro.php",
                            success: function(response) {
                                if(response == 0){}else{
                                  console.log(response);
                                   // location.href ="http://adntalent.com/panel/#/test/"+response; 
                                 }
                            }
                        });
                        
            }
</script>