<link rel="stylesheet" href="./css/blog.css">
<!-- Cotenido -->
<section class="section-intro">
            <div class="content">
                <div class="section-content">
                    <h2 class="textNew" style="position: absolute;">
                        <span style="color: #fff;">
                            BLOG
                        </span>
                    </h2>
                    <div class="borderTextNew" style="position: absolute; margin-top: 4rem;"></div>
                </div>
            </div>
            <ui-carousel slides="slideBlog" slides-to-show="1" slides-to-scroll="1" initial-slide="1" autoplay="true" autoplay-speed="5000" dots="false">
                <carousel-item>
                    <img src="{{ item.image }}" style="width: 100%; height: 100%;">
                </carousel-item>
            </ui-carousel>
</section>
<section class="section-blog">
            <div class="section-content" style="padding-top: 4rem; padding-bottom: 4rem; text-align: left;  ">
              <div class="detail wow pulse">
                <div class="date">
                  <span class="author"><a href="#">Carlos Hdez.</a></span>
                  <span class="time">AGOSTO 11</span>
                </div>
                <h2 class="tittle">
                  <span class="md-headline">Balanced Scorecard BSC / Errores Comunes en la Evaluación del Desempeño</span>
                </h2>
                <img ng-src="images/blog/blog3.jpg" class="md-card-image" alt="Washed Out">
                <div class="text" style="margin-bottom: 3rem;">
                  <ol>
                      <li><p>Obsesionarse con el establecimiento de controles perdiendo de vista el fondo y dedicando demasiados recursos a la forma y los reportes.</p></li>
                      <li><p>Confundir indicadores con actividades; por ejemplo una actividad es supervisar la carga de combustible en los vehículos de la empresa, y un indicador es el rendimiento en el consumo de combustible.</p></li>
                      <li><p>Incluir demasiados indicadores a evaluar; un BSC tiene que incluir entre cinco y ocho indicadores como máximo.</p></li>
                      <li><p>No incluir indicadores cuantificables; lo que no se puede medir, no se puedo controlar.</p></li>
                      <li><p>Incluir sólo indicadores financieros y olvidar no financieros.</p></li>
                      <li><p>No imprimir incentivos o sanciones gradualmente sobre resultados.</p></li>
                      <li><p>No generar un BSC que no se pueda leer en un solo golpe de vista.</p></li>
                      <li><p>Mostrar cifras demasiados largas; estos datos tienden a ser confusos por ello se recomiendan cifras de un solo decimal.</p></li>
                      <li><p>Olvidar evaluar la satisfacción del cliente. En una situación hipotética uno de los gerentes resulta avaluado como deficiente y amerita una determinada sanción, pero casualmente en ese mismo periodo las ventas a nuestros clientes generadas por su departamento incrementaron un 300%, ¿realmente este gerente tiene un deficiente rendimiento y merece una amonestación?</p></li>
                      <li><p>Falta de congruencia entre BSC y los objetivos estratégicos.</p></li>
                      <li><p>Omitir indicadores causa; es decir aquellos que nos ayudan a identificar y anticipar tendencias.</p></li>
                      <li><p>Generar BSC y no difundirlos adecuadamente; el peor escenario para cualquier persona es ser llamado a rendir cuentas y ni siquiera saber qué es lo que se le va a preguntar.</p></li>
                      <li><p>No acotar el BSC a la información mínima necesaria; los tableros para evaluación del desempeÑo extensos terminan llevando a las personas trabajando para el sistema cuando debería de ser al revés.</p></li>
                  </ol>
                  <p>Un BSC tiene que responder tres preguntas claves, qué procesos tengo que mejorar, qué necesidades tengo que atender en mis clientes y qué objetivos financieros tengo que lograr.</p>
                </div>
                <hr>
                <div class="col-sm-7 user">
                    <a href="" class="pull-left m-r-md">
                        <span class="avatar w-96">
                          <img src="images/blog/user-av.jpg">
                        </span>
                    </a>
                    <div class="clear m-b text-user">
                        <h3 class="m-0 m-b-xs">Carlos Hdez.</h3>
                        <div class="block clearfix m-b">
                        <a href="" class="btn btn-icon btn-social rounded white btn-sm">
                            <i class="fa fa-facebook"></i>
                            <i class="fa fa-facebook indigo"></i>
                        </a>
                        <a href="" class="btn btn-icon btn-social rounded white btn-sm">
                            <i class="fa fa-twitter"></i>
                            <i class="fa fa-twitter light-blue"></i>
                        </a>
                        <a href="" class="btn btn-icon btn-social rounded white btn-sm">
                            <i class="fa fa-google-plus"></i>
                            <i class="fa fa-google-plus red"></i>
                        </a>
                        <a href="" class="btn btn-icon btn-social rounded white btn-sm">
                            <i class="fa fa-linkedin"></i>
                            <i class="fa fa-linkedin cyan-600"></i>
                        </a>
                        </div>
                    </div>
                </div>
              </div>
            </div>
</section>
<section class="section-coments">
            <div class="section-content">
                <div class="box">
                    <div class="box-header">
                        <h4>Deja un comentario</h4>
                    </div>
                    <div class="box-body">                   
                        <div class="row">
                            <div class="col-sm-4 m-b">
                                <input type="text" class="form-control ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required" placeholder="Nombre" ng-model="contact.name" required="">
                            </div>
                            <div class="col-sm-4 m-b">
                                <input type="email" class="form-control ng-pristine ng-untouched ng-empty ng-valid-email ng-invalid ng-invalid-required" placeholder="Email" ng-model="contact.email" required="">
                            </div>
                            <div class="col-sm-4 m-b">
                                <input type="url" class="form-control ng-pristine ng-untouched ng-empty ng-valid-url ng-invalid ng-invalid-required" placeholder="Sitio web" ng-model="contact.url" required="">
                            </div>
                        </div>
                        <div class="form-group">
                        <textarea class="form-control" rows="6" placeholder="Mensaje"></textarea>
                        </div>
                    </div>
                    <footer class="p-a dker text-left">
                        <button type="submit" class="btn btn-info">Enviar</button>
                    </footer>
                </div>
            </div>
</section>
<section class="section-container">
        <div class="section-content">
            <div class="item-nav">
                <a ui-sref="detail2" class="item-prev">
                    <div class="prev-btn"><i class="fa fa-angle-left"></i></div>
                    <div class="item-prev-text xs-hidden">
                        <h6>Prev Post</h6>
                    </div>
                </a>

                <a ui-sref="blog" class="item-all-view">
                    <h6>Blog Page</h6>
                </a>

                <a ui-sref="detail4" class="item-next">
                    <div class="next-btn"><i class="fa fa-angle-right"></i></div>
                    <div class="item-next-text xs-hidden">
                        <h6>Next Post</h6>
                    </div>
                </a>
            </div>
        </div>
</section>
<section class="container-msg">
    <div  ng-parallax pattern="'images/module-15.jpg'" speed="2" reverse="true" class="backgraund-msg">
        <div class="msg">
            <h1 style="text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);">Encuentra aquellos que comparten tu misión!!</h1>
        </div>
    </div>
</section>