<link rel="stylesheet" href="./css/blog.css">
<!-- Cotenido -->
<section class="section-intro">
            <div class="content">
                <div class="section-content">
                    <h2 class="textNew" style="position: absolute;">
                        <span style="color: #fff;">
                            BLOG
                        </span>
                    </h2>
                    <div class="borderTextNew" style="position: absolute; margin-top: 4rem;"></div>
                </div>
            </div>
            <ui-carousel slides="slideBlog" slides-to-show="1" slides-to-scroll="1" initial-slide="1" autoplay="true" autoplay-speed="5000" dots="false">
                <carousel-item>
                    <img src="{{ item.image }}" style="width: 100%; height: 100%;">
                </carousel-item>
            </ui-carousel>
</section>
<section class="section-blog">
            <div class="section-content" style="padding-top: 4rem; padding-bottom: 4rem; text-align: left;  ">
              <div class="detail wow pulse">
                <div class="date">
                  <span class="author"><a href="#">Carlos Hdez.</a></span>
                  <span class="time">AGOSTO 11</span>
                </div>
                <h2 class="tittle">
                  <span class="md-headline">Reuniones eficaces; en tu empresa se padece de reunionitis? Te hacemos algunas recomendaciones.</span>
                </h2>
                <img ng-src="images/blog/blog4.jpg" class="md-card-image" alt="Washed Out">
                <div class="text" style="margin-bottom: 3rem;">
                  <ul>
                      <li><p>Parte de clarificar el objetivo de la reunión; Ningún viento es favorable para un barco que no sabe a dónde va.</p></li>
                      <li><p>Convoca a las personas apropiadas.</p></li>
                      <li><p>Envía anticipadamente puntos a tratar y documentos a revisar.</p></li>
                      <li><p>Confirma asistencia previa.</p></li>
                      <li><p>Levanta lista de asistencia.</p></li>
                      <li><p>Integra el rol de Run Time; recordara el tiempo de que disponen los participantes para evitar divagar y salir del tema.</p></li>
                      <li><p>Asume el rol del moderador; el coordinador debe imprimir moción de orden, otorgar la palabra y conducir la sesión.</p></li>
                      <li><p>Integra una ata de acuerdos; las palabras se las lleva el viento.</p></li>
                      <li><p>Designa un monitor; es quien realizara la gestión y seguimiento a las tareas entre sesiones.</p></li>
                      <li><p>Da lectura a la última acta.</p></li>
                      <li><p>Documenta el porcentaje de avance en las tareas realizadas.</p></li>
                      <li><p>Define la periodicidad de las reuniones; Se recomienda que las reuniones de seguimiento a tareas sean semanales, mientras que las de evaluación de indicadores pueden ser mensuales, trimestrales o semestrales, dependiendo de la naturaleza de cada organización.</p></li>
                      <li><p>Acota la duración de cada reunión; entre treinta y sesenta minutos por sesión.</p></li>
                      <li><p>Haz reconocimientos individuales; aprovecha este espacio para hacer reconocimiento al desempeÑo de los elementos valiosos, y evita evidenciar errores públicamente.</p></li>
                      <li><p>Festeja el logro colectivo; haz un anclaje positivo del avance logrado por el equipo de trabajo.</p></li>
                  </ul>
                </div>
                <hr>
                <div class="col-sm-7 user">
                    <a href="" class="pull-left m-r-md">
                        <span class="avatar w-96">
                          <img src="images/blog/user-av.jpg">
                        </span>
                    </a>
                    <div class="clear m-b text-user">
                        <h3 class="m-0 m-b-xs">Carlos Hdez.</h3>
                        <div class="block clearfix m-b">
                        <a href="" class="btn btn-icon btn-social rounded white btn-sm">
                            <i class="fa fa-facebook"></i>
                            <i class="fa fa-facebook indigo"></i>
                        </a>
                        <a href="" class="btn btn-icon btn-social rounded white btn-sm">
                            <i class="fa fa-twitter"></i>
                            <i class="fa fa-twitter light-blue"></i>
                        </a>
                        <a href="" class="btn btn-icon btn-social rounded white btn-sm">
                            <i class="fa fa-google-plus"></i>
                            <i class="fa fa-google-plus red"></i>
                        </a>
                        <a href="" class="btn btn-icon btn-social rounded white btn-sm">
                            <i class="fa fa-linkedin"></i>
                            <i class="fa fa-linkedin cyan-600"></i>
                        </a>
                        </div>
                    </div>
                </div>
              </div>
            </div>
</section>
<section class="section-coments">
            <div class="section-content">
                <div class="box">
                    <div class="box-header">
                        <h4>Deja un comentario</h4>
                    </div>
                    <div class="box-body">                   
                        <div class="row">
                            <div class="col-sm-4 m-b">
                                <input type="text" class="form-control ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required" placeholder="Nombre" ng-model="contact.name" required="">
                            </div>
                            <div class="col-sm-4 m-b">
                                <input type="email" class="form-control ng-pristine ng-untouched ng-empty ng-valid-email ng-invalid ng-invalid-required" placeholder="Email" ng-model="contact.email" required="">
                            </div>
                            <div class="col-sm-4 m-b">
                                <input type="url" class="form-control ng-pristine ng-untouched ng-empty ng-valid-url ng-invalid ng-invalid-required" placeholder="Sitio web" ng-model="contact.url" required="">
                            </div>
                        </div>
                        <div class="form-group">
                        <textarea class="form-control" rows="6" placeholder="Mensaje"></textarea>
                        </div>
                    </div>
                    <footer class="p-a dker text-left">
                        <button type="submit" class="btn btn-info">Enviar</button>
                    </footer>
                </div>
            </div>
</section>
<section class="section-container">
        <div class="section-content">
            <div class="item-nav">
                <a ui-sref="detail3" class="item-prev">
                    <div class="prev-btn"><i class="fa fa-angle-left"></i></div>
                    <div class="item-prev-text xs-hidden">
                        <h6>Prev Post</h6>
                    </div>
                </a>

                <a ui-sref="blog" class="item-all-view">
                    <h6>Blog Page</h6>
                </a>

                <a class="item-next">
                    <div class="next-btn"><i class="fa fa-angle-right"></i></div>
                    <div class="item-next-text xs-hidden">
                        <h6>Next Post</h6>
                    </div>
                </a>
            </div>
        </div>
</section>
<section class="container-msg">
    <div  ng-parallax pattern="'images/module-15.jpg'" speed="2" reverse="true" class="backgraund-msg">
        <div class="msg">
            <h1 style="text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);">Encuentra aquellos que comparten tu misión!!</h1>
        </div>
    </div>
</section>