<link rel="stylesheet" href="./css/blog.css">
<!-- Cotenido -->
<section class="section-intro" style="height: 11rem !important">
            <div class="content">
                <div class="section-content">
                    <h2 class="textNew" style="position: absolute;">
                        <span style="color: #fff;">
                            Aviso Legal
                        </span>
                    </h2>
                   
                </div>
            </div>
</section>
<section class="section-blog">
            <div class="section-content" style="padding-top: 4rem; padding-bottom: 4rem; text-align: left;  ">
              <div class="detail wow pulse">
   
                <div class="text" style="margin-bottom: 3rem;">
                 
                  <div ng-controller="appCtrl as vm">
                
                      <div class="mirror"></div>
                    <!--   <p>{{vm.descripcion}}</p> -->
                      <div  ng-bind-html="vm.$sce.trustAsHtml(vm.legal)">
                      </div>
                    
            </div>
                </div>
                <hr>
             
              </div>
            </div>
</section>

