<div class="background-init">
    <video id="video1" loop autoplay muted preload="auto">
      <source src="videos/videonuevo.mp4" type="video/mp4" />
    </video>
</div>
<section id="section-intro" class="section-intro" >
    <!-- <div class="background-init">
        <div class="background"></div>
    </div> -->
    <div class="section-intro-content" >
            <div id="container-intro" data-wow-delay="1.5s" data-wow-duration="2s" class="container wow bounceInDown animate-show" style="visibility: visible; width: 100% !important;top:21%">
              <div class="container-tittle">
                <h1><span> Bolsa de </span><span style="color: rgba(243, 146, 0, 1);">Trabajo</span></h1>
              </div>
              <div class="container-tittle">
                <h2><span> Gente Confiable</span></h2>
              </div>
              <div class="container-search">
                <form class="form-inline search" role="search">
                      <input type="text" class="form-control b-a rounded px-3 form-control-sm" ng-model="llave" placeholder="Contador, Zacatecas, $7'000.00">
                </form>
                <a class="nav-link" href="../panel/index.html#/search/{{llave}}">
                    <span class="hidden-xs-down btn btn-sm rounded btn-outline b-danger text-u-c _600">
                       <i class="material-icons"></i>
                    </span>
                </a>
              </div>
              <div class="container-test">
                <span class="container-test-tittle">
                  <h4 class="font-white-import">Agregar tu perfil Psicométrico a tu CV</h4>
                </span>
                <span >
                  <button ng-click="newTest()" class="btn btn-fw">Inicia test</button>
                </span>
              </div>
              <hr data-reactid="90" class="intro-divider">
              <!-- <div class="dropdown-divider"></div> -->
              <div class="register">
                  <span  class="btn-orange-white">
                      <button ng-click="newCandidate()" class="btn btn-fw "><spam><i class="fa fa-user"></i></spam><spam> Registro Candidato</spam></button>
                    </span> 
                <span class="btn-orange-white"><a href="https://www.adntalent.com/panel/">
                  <button  class="btn btn-fw"><spam><i class="fa fa-unlock"></i></spam><spam> Inicia sesión</spam></button></a>
                </span>
                <span  class="btn-white-orange">
                  <button ng-click="newEnterprise()" class="btn btn-fw "><spam><i class="fa fa-user"></i></spam><spam> Registro Empresa</spam></button>
                </span>
              </div>
            </div>
            <div class="up">
              <a du-smooth-scroll="container-video" du-liso-scroll class="btn btn-circle page-scroll rebote">
                <i class="fa fa-angle-double-down animated"></i>
              </a>
            </div>
            <div id="signin" class="content-signin"  layout="row"   layout-align="end center" style="visibility: hidden;">
              <div ui-view="login"></div>
              <div class="back-intro"> 
                <span class="btn-back">
                  <button ng-click="backIntro()" class="btn btn-fw"><spam><i class="fa fa-long-arrow-left"></i></spam><spam> Regresar</spam></button>
                </span>
              </div>
            </div>
    </div>
</section>

<section id="container-video" class="container-video">
        <div class="section-content">
          <h2 class="textNew">
            <span>
                Descubre tus Talentos
            </span>
          </h2>
          <div class="borderTextNew"></div>
          <div class ="newSection">
          <div class="col-sm-12">
            <div class ="row">
                <div class ="form-group col-md-6">¿Qué es un Perfil Psicométrico?
                    <iframe width="420" height="315" src="https://www.youtube.com/embed/YBTfX6ueXVE?start=2" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                    <span class="btn-green-white">
                        <a href="https://www.adntalent.com/panel/#/solicitud" ><button class="btn btn-fw "><spam></spam><spam><font color ="black"> Llena tu <b>Solicitud de Empleo</b></font></spam></button></a>
                      </span><br><br>
                      <span class="btn-green-white">
                          <a href="https://www.adntalent.com/panel/#/curriculum" ><button class="btn btn-fw "><spam></spam><spam><font color ="black"> Llena tu <b>Currículo Profesional</b></spam></font></button></a>
                      </span>
                </div>
                <div class ="form-group col-md-6">¿Qué son los Perfiles para Empresas?
                    <iframe width="420" height="315" src="https://www.youtube.com/embed/x6U-M4pmFws" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                    <span class="btn-orange-white">
                        <button ng-click="newEnterprise()" class="btn btn-fw "><spam></spam><spam><font color ="white">REGISTRO DE EMPRESA</font></spam></button>
                    </span>
                </div>
            </div>
          
          </div>
        </div>
      </div>   
                  
         
</section>
<section id="container-video" class="container-video">
  <div class="section-content">
    <h2 class="textNew">
      <span>
          SERVICIOS
      </span>
    </h2>
    <div class="borderTextNew"></div>
     <div class="content-videos wow bounceInRight" data-wow-delay=".25s" data-wow-duration="2s" ng-controller="appCtrl as vm">
      <div ng-repeat="video in vm.videosArray">
          <div class="video" ng-click='toggleModal()' data-toggle="modal" data-target="#fsModal">
            <div class="mirror" style="width: 100%; height: 101%; position: absolute; z-index: 4;" ng-click="newSRC(video.liga)"></div>
            <iframe ng-src="{{video.liga}}" style="width: 100%; height: 101%;"   frameborder="0" allowfullscreen></iframe>
          </div>
      </div>



             </div>
        </div>   
            
    </div> 
  </div>
   
</section>

<section class="cotent-img">
  <div  ng-parallax pattern="'images/fishes.jpg'" speed="1" reverse="true" class="backgraund-content-img">
    <div class="image" style="height:50% !important">
        <br><br><br><br>
        <div style="color:white; text-align: center;font-size: 39px;">¡Llega a otro nivel, descubre tus talentos!</div>
     
    </div>
    <div class="image"style="background: rgba(0, 164, 74, 0.32);">
     <br><br>
      <div style="color:white; text-align: center;font-size: 39px;">
        Perfil de Orientación<br>

          Laboral, Vocacional Y Profesional</div>
    </div>
  </div>
<!-- <div class="image">

</div> -->
</section>



<!-- modal -->
<div ng-click="closedVideo()" id="fsModal"
            class="modal animated bounceIn"
            tabindex="-1"
            role="dialog"
            aria-labelledby="myModalLabel"
            aria-hidden="true">

        <!-- header closed -->
        <div class="modal-header">
          <i data-dismiss="modal" class="fa fa-times"></i>
        </div>
        <!-- header -->
        <!-- dialog -->
        <div class="modal-dialog">
          <!-- content -->
          <div class="modal-content">
            <!-- body -->
            <div class="modal-body">
              <iframe id="videoYou" style="width: 100%; height: 100%;" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
            </div>
            <!-- body -->
          </div>
          <!-- content -->
        </div>
        <!-- dialog -->
</div>
<!-- modal --> 
<section id='about-us' class="section-us-weare">
          <div ng-parallax pattern="'images/work.jpg'" speed="2" reverse="true"  class="us-content-weare">
            <div class="text">
              <div class="section-content" style="max-width: 27rem; text-align: left;">
                <h2 class="textNew" style="justify-content: left; ">
                  <span>
                      NOSOTROS
                  </span>
                </h2>
                <div class="borderTextNew"></div>
                <div class="text-us wow bounceInUp" data-wow-delay=".2s" data-wow-duration="2s" wow-data-offset="100">
                  <div class="textDescription">
                      Somos una Agencia de Coaching y Psicometría, brindamos soluciones en Reingeniería de Procesos, mejorando la organización, rendimiento y productividad de personas y organizaciones.
                  </div>
                  <div class="tittle">
                      Misión
                  </div>
                  <div class="textDescription">
                      Crear valor económico, social y ambiental al Impulsar el desarrollo del factor humano como base del crecimiento corporativo de las organizaciones que nos haga crecer como sociedad.
                  </div>
                  <div class="tittle">
                      Visión
                  </div>
                  <div class="textDescription">
                      Consolidar un servicio global de Coaching y Psicometría que inspire a liberar el potencial del individuo como base del desarrollo social.
                  </div>
                </div>
              </div>
            </div>
          </div>
</section> 
<section class="section-us">
        <div class="section-content">
          <ui-carousel 
          slides="values"
          slides-to-show="1"
          slides-to-scroll="1"
          initial-slide="1"
          autoplay="true"
          autoplay-speed="5000"
          dots="true">
         
            <carousel-item>
              <div class="tittle">{{item.tittle}}</div>
              <div class="text">{{item.text}}</div>
            </carousel-item>
          </ui-carousel>
        </div>
</section> 

<section class="cotent-img">
    <div  ng-parallax pattern="'images/people-hands.jpg'" speed="1" reverse="true" class="backgraund-content-img">
      <div class="image">
      </div>
    </div>
  <!-- <div class="image">

  </div> -->
</section>


<section id='comparativo' class="section-contact">
  <div class="section-content">
    <h2 class="textNew">
      <span>
          Gráficas de Habilidades
      </span>
    </h2>
    <div class="borderTextNew"></div>
    


    <iframe  width="1200px" height="500px" src="charts/empredurismo.html" frameborder="0"></iframe>
    <iframe  width="1200px" height="500px" src="charts/index.html" frameborder="0"></iframe>
    <iframe  width="1200px" height="500px" src="charts/vocacional.html" frameborder="0"></iframe>
             </div>
     
  
</section>

<section id="section-customers" class="section-customers">
        <div class="section-content">
          <h2 class="textNew">
            <span>
              CLIENTES
            </span>
          </h2>
          <div class="borderTextNew"></div>
          <ui-carousel class="wow bounceInRight" data-wow-delay=".25s" data-wow-duration="2s" slides="customers" slides-to-show="4" slides-to-scroll="1" initial-slide="1" autoplay="true" autoplay-speed="4000" dots="false">
            <carousel-item>
              <img ng-src="{{ item.image }}">
            </carousel-item>
          </ui-carousel>
        </div>
</section>
<section id='contact' class="section-contact">
          <div class="section-content">
            <h2 class="textNew">
              <span>
                CONTACTO
              </span>
            </h2>
            <div class="borderTextNew"></div>
            <map class="wow fadeInUp" data-wow-delay=".25s" data-wow-duration="1.5s" zoom="15" center="22.752175, -102.517705">
                <marker position="22.752175, -102.517705"></marker>
            </map>
            <div class="data wow fadeInUp" data-wow-delay="1s" data-wow-duration="1.5s">
              <div class="col-sm-6 col-sm-6 col-xs-12 formMesg">
                  <h5 class="tittle">
                      Deja tu mensaje
                    </h5>
                    <p class="text">
                      Si te ha interesado nuestro trabajo, puedes establecer contacto de manera muy sencilla, simplemente llena el formulario y nosotros nos ponemos en contacto contigo.
                    </p>
                    <form name="form-contact" class="form-validation ng-pristine ng-invalid ng-invalid-required ng-valid-email ng-valid-url">
                      <div class="box">
                        <div class="box-body">  
                          <div class="form-group">
                              <input type="text" class="form-control ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required" placeholder="Nombre*" ng-model="contact.name" required="">
                          </div>
                          <div class="form-group">
                              <input type="email" class="form-control ng-pristine ng-untouched ng-empty ng-valid-email ng-invalid ng-invalid-required" placeholder="Email*" ng-model="contact.email" required="">
                          </div>
                          <div class="form-group">
                            <input type="text" class="form-control ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required" placeholder="Asunto*" ng-model="contact.url" required="">
                          </div>
                          <div class="form-group">
                            <textarea class="form-control" rows="6" placeholder="Mensaje"></textarea>
                          </div>
                        </div>
                        <footer class="p-a dker text-right">
                          <button type="submit" class="btn btn-info">Enviar</button>
                        </footer>
                      </div>
                    </form>
              </div>
              <div class="col-sm-6 col-sm-6 col-xs-12 address" style="padding-left: 5rem;">
                  <h5 class="tittle">
                    Oficina principal
                  </h5>
                  <p class="text">
                    Telegrafos 142-B, <br>
                    Col. Centro Guadalupe, <br>
                    Zac CP 98600 
                  </p>
                  <p class="text" style="margin-bottom: 4rem;">
                    Telefono:492-164-6289 <br>
                    Email: tualiado@adntalent.com
                  </p>
                  <div class="borderTextNew" style="width: 5rem; margin-bottom: 1rem;"></div>
                  <h5 class="tittle" style="line-height: 1.3em;">
                      Llamanos: <br>
                      492-164-6289
                  </h5>
              </div>
            </div>
          </div>
</section>


