<link rel="stylesheet" href="./css/blog.css">
<!-- Cotenido -->
<section class="section-intro">
            <div class="content">
                <div class="section-content">
                    <h2 class="textNew" style="position: absolute;">
                        <span style="color: #fff;">
                            BLOG
                        </span>
                    </h2>
                    <div class="borderTextNew" style="position: absolute; margin-top: 4rem;"></div>
                </div>
            </div>
            <ui-carousel slides="slideBlog" slides-to-show="1" slides-to-scroll="1" initial-slide="1" autoplay="true" autoplay-speed="5000" dots="false">
                <carousel-item>
                    <img src="{{ item.image }}" style="width: 100%; height: 100%;">
                </carousel-item>
            </ui-carousel>
</section>
<section class="section-blog">
            <div class="section-content" style="padding-top: 4rem; padding-bottom: 4rem; text-align: left;  ">
              <div class="detail wow pulse">
                <div class="date">
                  <span class="author"><a href="#">Carlos Hdez.</a></span>
                  <span class="time">AGOSTO 11</span>
                </div>
                <h2 class="tittle">
                  <span class="md-headline">Tips ante los desafíos de la empresa familiar</span>
                </h2>
                <img ng-src="images/blog/blog2.jpg" class="md-card-image" alt="Washed Out">
                <div class="text" style="margin-bottom: 3rem;">
                  <p>En promedio el 85% de las empresas latinoamericanas son PyME, de las cuales el 93% surgieron como Empresa Familiar, pero solo el 3% de las empresas familiares prevalecen a la tercera generación, lo que pone de manifiesto como un desafío importante en el sector empresarial.</p>
                  <p>La Empresa Familiar debe ser concebida como un ente privado con fines de lucro, cuya actividad sustantiva es consolidar mediante negocios lícitos la generación de riqueza, abundancia y estabilidad para sus integrantes y socios comerciales.</p>
                  <p>Por ello en la consolidación de la empresa familiar se debería de consolidar las siguientes observaciones:
                    <ol>
                      <li><p>Las prerrogativas como uso de vehículos, telefonía, inmuebles, viajes, combustible, viáticos, etc. deben cubrir una necesidad laboral, no emocional.</p></li>
                      <li><p>La apertura de vacantes debe ser justificada por la demanda de la misma y respaldada con el perfil apropiado del puesto a cubrir y nunca en función de las necesidades emocionales familiares.</p></li>
                      <li><p>Evitar la mezcla los capitales personales con los de la empresa y viceversa. La política de remuneración dentro de la empresa de familia no debería estar sujeta a cuanta variable u obstáculo se presentara.</p></li>
                      <li><p>Cada función y puesto dentro de la empresa debe estar bien definido en sus funciones, honorarios, permisos, vacaciones, incentivos y sanciones. (Formar parte de la familia no debe representar flexibilidad de horarios, sobresueldos, periodos vacacionales adicionales, permisos extraordinarios; así como tampoco por ser familiar debería de trabajarse sin sueldo, o con sobrecarga de roles, jornadas u horarios).</p></li>
                      <li><p>En la estructura organizacional además de la estructura tradicional debería de integrarse como máximo órgano de gobierno la Asamblea de Socios, en caso de existir, seguida por La Asamblea Directiva y La Asamblea Familiar con el apoyo de un Consejo Consultivo externo, procurando que en el Consejo Directivo figure un elemento externo a la familia.</p></li>
                      <li><p>La junta directiva definirá por consenso el número de familiares políticos que se podrán integrar a la empresa en caso de ser admitidos.</p></li>
                      <li><p>Para evitar conflictos de intereses no habrá puestos de supervisión entre familia.</p></li>
                      <li><p>El Reparto Patrimonial no afectara los recursos necesarios para la operación de la empresa.</p></li>
                      <li><p>La Sindicación de Acciones se realizará en los porcentajes acordados de participación en el negocio con una periodicidad anual siempre que no se afecte la operación de la empresa.</p></li>
                      <li><p>Habrá de desarrollarse un Plan de Sucesión que permita la continuidad efectiva en el desempeÑo de la organización, sus divisiones y grupos de trabajo, facilitando la permanencia y consolidación a través del tiempo permitiendo a los sucesores continuar el plan estratégico de las personas claves de la empresa.</p></li>
                      <li><p>Deberá de existir un Esquema de Incentivos y Sanciones rígido e innegociable que garantice el apego a las normas de la empresa y el desarrollo corporativo y de sus elementos importantes. Si un elemento promueve el crecimiento se incentivará sin distinción, así como se presidirá de quien no abone y de quien actué en perjuicio de la empresa para garantizar la permanencia y crecimiento de la misma.</p></li>
                    </ol>
                  </p>  
                  <p>Conceptos clave
                      <ul>
                          <li><p>La estructura organizacional y toma de decisiones.</p></li>
                          <li><p>La integración de familia política.</p></li>
                          <li><p>Las jornadas y horarios.</p></li>
                          <li><p>El sistema de sueldos y salarios.</p></li>
                          <li><p>Políticas de remuneración variable.</p></li>
                          <li><p>El conflicto de intereses.</p></li>
                          <li><p>El uso de del patrimonio de la empresa.</p></li>
                          <li><p>Reparto patrimonial.</p></li>
                          <li><p>Sindicación de acciones.</p></li>
                          <li><p>Plan de sucesión.</p></li>
                          <li><p>Sanciones y consecuencias.</p></li>
                      </ul>
                  </p>
                </div>
                <hr>
                <div class="col-sm-7 user">
                    <a href="" class="pull-left m-r-md">
                        <span class="avatar w-96">
                          <img src="images/blog/user-av.jpg">
                        </span>
                    </a>
                    <div class="clear m-b text-user">
                        <h3 class="m-0 m-b-xs">Carlos Hdez.</h3>
                        <div class="block clearfix m-b">
                        <a href="" class="btn btn-icon btn-social rounded white btn-sm">
                            <i class="fa fa-facebook"></i>
                            <i class="fa fa-facebook indigo"></i>
                        </a>
                        <a href="" class="btn btn-icon btn-social rounded white btn-sm">
                            <i class="fa fa-twitter"></i>
                            <i class="fa fa-twitter light-blue"></i>
                        </a>
                        <a href="" class="btn btn-icon btn-social rounded white btn-sm">
                            <i class="fa fa-google-plus"></i>
                            <i class="fa fa-google-plus red"></i>
                        </a>
                        <a href="" class="btn btn-icon btn-social rounded white btn-sm">
                            <i class="fa fa-linkedin"></i>
                            <i class="fa fa-linkedin cyan-600"></i>
                        </a>
                        </div>
                    </div>
                </div>
              </div>
            </div>
</section>
<section class="section-coments">
            <div class="section-content">
                <div class="box">
                    <div class="box-header">
                        <h4>Deja un comentario</h4>
                    </div>
                    <div class="box-body">                   
                        <div class="row">
                            <div class="col-sm-4 m-b">
                                <input type="text" class="form-control ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required" placeholder="Nombre" ng-model="contact.name" required="">
                            </div>
                            <div class="col-sm-4 m-b">
                                <input type="email" class="form-control ng-pristine ng-untouched ng-empty ng-valid-email ng-invalid ng-invalid-required" placeholder="Email" ng-model="contact.email" required="">
                            </div>
                            <div class="col-sm-4 m-b">
                                <input type="url" class="form-control ng-pristine ng-untouched ng-empty ng-valid-url ng-invalid ng-invalid-required" placeholder="Sitio web" ng-model="contact.url" required="">
                            </div>
                        </div>
                        <div class="form-group">
                        <textarea class="form-control" rows="6" placeholder="Mensaje"></textarea>
                        </div>
                    </div>
                    <footer class="p-a dker text-left">
                        <button type="submit" class="btn btn-info">Enviar</button>
                    </footer>
                </div>
            </div>
</section>
<section class="section-container">
        <div class="section-content">
            <div class="item-nav">
                <a ui-sref="detail1" class="item-prev">
                    <div class="prev-btn"><i class="fa fa-angle-left"></i></div>
                    <div class="item-prev-text xs-hidden">
                        <h6>Prev Post</h6>
                    </div>
                </a>

                <a ui-sref="blog" class="item-all-view">
                    <h6>Blog Page</h6>
                </a>

                <a ui-sref="detail3" class="item-next">
                    <div class="next-btn"><i class="fa fa-angle-right"></i></div>
                    <div class="item-next-text xs-hidden">
                        <h6>Next Post</h6>
                    </div>
                </a>
            </div>
        </div>
</section>
<section class="container-msg">
    <div  ng-parallax pattern="'images/module-15.jpg'" speed="2" reverse="true" class="backgraund-msg">
        <div class="msg">
            <h1 style="text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);">Encuentra aquellos que comparten tu misión!!</h1>
        </div>
    </div>
</section>