
  <link rel="stylesheet" href="./css/blog.css">
  <!-- Cotenido -->
  <section class="section-intro">
    <div class="content">
      <div class="section-content">
        <h2 class="textNew" style="position: absolute;">
            <span style="color: #fff;">
                BLOG
            </span>
        </h2>
        <div class="borderTextNew" style="position: absolute; margin-top: 4rem;"></div>
      </div>
    </div>
    <ui-carousel slides="slideBlog" slides-to-show="1" slides-to-scroll="1" initial-slide="1" autoplay="true" autoplay-speed="5000" dots="false">
                <carousel-item>
                    <img src="{{ item.image }}" style="width: 100%; height: 100%;">
                </carousel-item>
    </ui-carousel>
  </section>
  <section class="section-blog">
    <div class="section-content" style="width: 80%; max-width: 58rem; display: flex; flex-wrap: wrap;">
      <div class="cards wow fadeInUp" data-wow-delay=".25s" data-wow-duration="1.5s" wow-data-offset="100">
        <img ng-src="images/blog/blog1.jpg" class="md-card-image" alt="Washed Out">
        <div class="date">
          <span class="author"><a href="#">Carlos Hdez.</a></span>
          <span class="time">AGOSTO 11</span>
        </div>
        <h4 class="tittle">
          <span class="md-headline">Errores comunes en un currículo</span>
        </h4>
        <div class="text">
          <p>
              1. Usar siempre el mismo CV. ... si puedes expresar que es lo que la empresa puede esperar de ti en ese puesto incrementaras las posibilidades de quedarte con el empleo.
          </p>
        </div>
        <div class="more" layout="row" layout-align="end center">
          <md-button class="md-icon-button" aria-label="Favorite">
            <a ui-sref="detail1">leer más <i class="fa fa-long-arrow-right"></i></a>
          </md-button>
        </div>
      </div>
      <div class="cards wow fadeInUp" data-wow-delay=".25s" data-wow-duration="1.5s" wow-data-offset="100">
        <img ng-src="images/blog/blog2.jpg" class="md-card-image" alt="Washed Out">
        <div class="date">
          <span class="author"><a href="#">Carlos Hdez.</a></span>
          <span class="time">AGOSTO 11</span>
        </div>
        <h4 class="tittle">
          <span class="md-headline">Tips ante los desafíos de la empresa familiar</span>
        </h4>
        <div class="text">
          <p>
              En promedio el 85% de las empresas latinoamericanas son PyME, de las cuales el 93% surgieron como Empresa Familiar, pero solo el 3% de las empresas familiares prevalecen a la tercera generación.
          </p>
        </div>
        <div class="more" layout="row" layout-align="end center">
          <md-button class="md-icon-button" aria-label="Favorite">
            <a ui-sref="detail2">leer más <i class="fa fa-long-arrow-right"></i></a>
          </md-button>
        </div>
      </div>
      <div class="cards wow fadeInUp" data-wow-delay=".25s" data-wow-duration="1.5s" wow-data-offset="100">
        <img ng-src="images/blog/blog3.jpg" class="md-card-image" alt="Washed Out">
        <div class="date">
          <span class="author"><a href="#">Carlos Hdez.</a></span>
          <span class="time">AGOSTO 11</span>
        </div>
        <h4 class="tittle">
          <span class="md-headline">Balanced Scorecard BSC</span>
        </h4>
        <div class="text">
          <p>
              Errores Comunes en la Evaluación del Desempeño. Un BSC tiene que responder tres preguntas claves, qué procesos tengo que mejorar, qué necesidades tengo que atender en mis clientes y qué objetivos financieros tengo que lograr.
          </p>
        </div>
        <div class="more" layout="row" layout-align="end center">
          <md-button class="md-icon-button" aria-label="Favorite">
            <a ui-sref="detail3">leer más <i class="fa fa-long-arrow-right"></i></a>
          </md-button>
        </div>
      </div>
      <div class="cards wow fadeInUp" data-wow-delay=".25s" data-wow-duration="1.5s" wow-data-offset="100">
        <img ng-src="images/blog/blog4.jpg" class="md-card-image" alt="Washed Out">
        <div class="date">
          <span class="author"><a href="#">Carlos Hdez.</a></span>
          <span class="time">AGOSTO 11</span>
        </div>
        <h4 class="tittle">
          <span class="md-headline">Reuniones eficaces</span>
        </h4>
        <div class="text">
          <p>
              ¿En tu empresa se padece de reunionitis? Te hacemos algunas recomendaciones. Parte de clarificar el objetivo de la reunión; Ningún viento es favorable para un barco que no sabe a dónde va, o como se dice en lenguaje naval, ningún viento es favorable para un barco al garete.
          </p>
        </div>
        <div class="more" layout="row" layout-align="end center">
          <md-button class="md-icon-button" aria-label="Favorite">
            <a ui-sref="detail4">leer más <i class="fa fa-long-arrow-right"></i></a>
          </md-button>
        </div>
      </div>
    </div>
  </section>
  <section class="container-msg">
      <div  ng-parallax pattern="'images/module-15.jpg'" speed="2" reverse="true" class="backgraund-msg">
          <div class="msg">
              <h1 style="text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);">Encuentra aquellos que comparten tu misión!!</h1>
          </div>
      </div>
  </section>