<link rel="stylesheet" href="./css/blog.css">

<!-- Cotenido -->
<section class="section-intro">
            <div class="content">
                <div class="section-content">
                    <h2 class="textNew" style="position: absolute;">
                        <span style="color: #fff;">
                            BLOG
                        </span>
                    </h2>
                    <div class="borderTextNew" style="position: absolute; margin-top: 4rem;"></div>
                </div>
            </div>
            <ui-carousel slides="slideBlog" slides-to-show="1" slides-to-scroll="1" initial-slide="1" autoplay="true" autoplay-speed="5000" dots="false">
                <carousel-item>
                    <img src="{{ item.image }}" style="width: 100%; height: 100%;">
                </carousel-item>
            </ui-carousel>
</section>
<section class="section-blog">
            <div class="section-content" style="padding-top: 4rem; padding-bottom: 4rem; text-align: left;  ">
              <div class="detail wow pulse">
                <div class="date">
                  <span class="author"><a href="#">Carlos Hdez.</a></span>
                  <span class="time">AGOSTO 11</span>
                </div>
                <h2 class="tittle">
                  <span class="md-headline">Errores comunes en un currículo</span>
                </h2>
                <img ng-src="images/blog/blog1.jpg" class="md-card-image" alt="Washed Out">
                <div class="text" style="margin-bottom: 3rem;">
                  <ol>
                      <li><p>Usar siempre el mismo CV. El punto que te ayudara a ubicarte más rápidamente en una empresa es hacer una breve investigación sobre la misma y del puesto vacante previo a la entrevista, el título de la vacante te dará mucha información, también puedes investigar la filosofía de la empresa en su sitio web, no puedes presentar el mismo CV en todas partes, tienes que adecuar y resaltar como tu experiencia puede generar valor a esa empresa, si puedes expresar que es lo que la empresa puede esperar de ti en ese puesto incrementaras las posibilidades de quedarte con el empleo.</p></li>
                      <li><p>No incluir datos de contacto. Por ilógico que parezca hay personas que en su currículo no incluyen teléfono o correo electrónico no que imposibilita establecer contacto con ellos para programar entrevistas de trabajo, por ello es recomendable incluir más de un medio de contacto, procurando un correo sobrio y formal, cuentas como maquinadefuego@... ó laormadetuzapato@... ó golocita69@... hablaran de poca seriedad e informalidad.</p></li>
                      <li><p>No resaltar la vacante con interés en cubrir. Definitivamente los reclutadores no están buscando personas, sino cubrir puestos, al reclutador le será más llamativo un currículo que en el encabezado diga: agente de ventas, recepcionista, auxiliar administrativo, contador general, etc.</p></li>
                      <li><p>No incluir en el asunto el puesto solicitado. Si se envía por correo electrónico facilitara al reclutador abrir y leer correos que ya sabe de qué se tratan sólo con leer el asunto, de no ser así habrá correos que quizá nunca sean abiertos.</p></li>
                      <li><p>No cuidar la extensión del CV. Este documento en dos o tres cuartillas cuando mucho será digerible y adecuado.</p></li>
                      <li><p>No incluir fotografía. Si acudiste a una entrevista y dejaste tu CV toma en cuenta que los reclutadores revisan muchos correos diariamente, y entrevistan a demasiadas personas por semana, si tu incluyes en tu CV una fotografía digna facilitara al reclutador ubicar tu información y agilizar el reclutamiento, claro tienes que elegir una fotografía formal y no una que recortaste de un convivio en un bar con tus amigos.</p></li>
                      <li><p>Faltas de ortografía. Lo común son errores de dedo como “Hermández”, si pides a otra persona que lea tu CV será de mucha ayuda en este tema, y por supuesto evitar abreviaciones raras como “vdd” o “kien”, etc.</p></li>
                      <li><p>No incluir fecha de elaboración del CV. Esto dará una idea de lo actualizada que está tu información y de una probable segunda cita para actualizar tus datos y experiencia laboral.</p></li>
                      <li><p>Omitir en la experiencia laboral incluir: ramo de las empresas en que se laboró, actividades desempeÑadas, responsabilidades a cargo, tiempo de permanencia, motivo de salida, datos de contacto de jefes inmediatos, especificar si se está trabajando actualmente y el motivo por el que se busca un nuevo empleo, especificar si se tienen otros ingresos.</p></li>
                      <li><p>Excluir formación extracurricular. Mencionar cursos, talleres, diplomados y eventos de actualización en el ramo.</p></li>
                      <li><p>Excluir aficiones por ejemplo: tocar guitarra, practicar yoga, asistir a cursos de cocina</p></li>
                  </ol>
                  <p>Esperamos que esta información te ayude, ahora revisa tu CV y valora los cambios pertinentes, éxito!!!</p>
                </div>
                <hr>
                <div class="col-sm-7 user">
                    <a href="" class="pull-left m-r-md">
                        <span class="avatar w-96">
                          <img src="images/blog/user-av.jpg">
                        </span>
                    </a>
                    <div class="clear m-b text-user">
                        <h3 class="m-0 m-b-xs">Carlos Hdez.</h3>
                        <div class="block clearfix m-b">
                        <a href="" class="btn btn-icon btn-social rounded white btn-sm">
                            <i class="fa fa-facebook"></i>
                            <i class="fa fa-facebook indigo"></i>
                        </a>
                        <a href="" class="btn btn-icon btn-social rounded white btn-sm">
                            <i class="fa fa-twitter"></i>
                            <i class="fa fa-twitter light-blue"></i>
                        </a>
                        <a href="" class="btn btn-icon btn-social rounded white btn-sm">
                            <i class="fa fa-google-plus"></i>
                            <i class="fa fa-google-plus red"></i>
                        </a>
                        <a href="" class="btn btn-icon btn-social rounded white btn-sm">
                            <i class="fa fa-linkedin"></i>
                            <i class="fa fa-linkedin cyan-600"></i>
                        </a>
                        </div>
                    </div>
                </div>
              </div>
            </div>
</section>
<section class="section-coments">
            <div class="section-content">
                <div class="box">
                    <div class="box-header">
                        <h4>Deja un comentario</h4>
                    </div>
                    <div class="box-body">                   
                        <div class="row">
                            <div class="col-sm-4 m-b">
                                <input type="text" class="form-control ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required" placeholder="Nombre" ng-model="contact.name" required="">
                            </div>
                            <div class="col-sm-4 m-b">
                                <input type="email" class="form-control ng-pristine ng-untouched ng-empty ng-valid-email ng-invalid ng-invalid-required" placeholder="Email" ng-model="contact.email" required="">
                            </div>
                            <div class="col-sm-4 m-b">
                                <input type="url" class="form-control ng-pristine ng-untouched ng-empty ng-valid-url ng-invalid ng-invalid-required" placeholder="Sitio web" ng-model="contact.url" required="">
                            </div>
                        </div>
                        <div class="form-group">
                        <textarea class="form-control" rows="6" placeholder="Mensaje"></textarea>
                        </div>
                    </div>
                    <footer class="p-a dker text-left">
                        <button type="submit" class="btn btn-info">Enviar</button>
                    </footer>
                </div>
            </div>
</section>
<section class="section-container">
            <div class="section-content">
                <div class="item-nav">
                    <a class="item-prev">
                        <div class="prev-btn"><i class="fa fa-angle-left"></i></div>
                        <div class="item-prev-text xs-hidden">
                            <h6>Prev Post</h6>
                        </div>
                    </a>

                    <a ui-sref="blog" class="item-all-view">
                        <h6>Blog Page</h6>
                    </a>

                    <a ui-sref="detail2" class="item-next">
                        <div class="next-btn"><i class="fa fa-angle-right"></i></div>
                        <div class="item-next-text xs-hidden">
                            <h6>Next Post</h6>
                        </div>
                    </a>
                </div>
            </div>
</section>
<section class="container-msg">
            <div  ng-parallax pattern="'images/module-15.jpg'" speed="2" reverse="true" class="backgraund-msg">
                <div class="msg">
                    <h1 style="text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);">Encuentra aquellos que comparten tu misión!!</h1>
                </div>
            </div>
</section>
      