<div class="p-a white lt box-shadow">
	<div class="row">
		<div class="col-sm-6">
			
		</div>
	</div>
</div>

<div class="flex-layout">
  <div class="container">
    <div class="panel pricing-table">
      
      <div class="pricing-plan">
        <img src="https://s22.postimg.cc/8mv5gn7w1/paper-plane.png" alt="" class="pricing-img">
        <h2 class="pricing-header"> Solución Prepago</h2>
        
        <ul class="pricing-features">
          <li class="pricing-features-item"> <input type="radio" name="opinions" id="radio-1"> 10 Evaluaciones/ $1200 MXN</li>
          <li class="pricing-features-item"> <input type="radio" name="opinions" id="radio-1"> 20 Evaluaciones/ $1200 MXN</li>
          <li class="pricing-features-item"> <input type="radio" name="opinions" id="radio-1"> 40 Evaluaciones/ $1200 MXN</li>
          <li class="pricing-features-item"> <input type="radio" name="opinions" id="radio-1"> 60 Evaluaciones/ $1200 MXN</li>
          <li class="pricing-features-item"> <input type="radio" name="opinions" id="radio-1"> 80 Evaluaciones/ $1200 MXN</li>
          <li class="pricing-features-item"> <input type="radio" name="opinions" id="radio-1"> 100 Evaluaciones/ $1200 MXN</li>
        </ul>
        <!-- <span class="pricing-price">Paquetes</span> -->
        <a href="#/" class="pricing-button is-featured">Paquetes</a>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="panel pricing-table">
      
      <div class="pricing-plan">
        <img src="https://s28.postimg.cc/ju5bnc3x9/plane.png" alt="" class="pricing-img">
        <h2 class="pricing-header">Solución en Renta</h2>
        <ul class="pricing-features">
          <li class="pricing-features-item"> <input type="radio" name="opinions" id="radio-1"> 10 Evaluaciones/ $1200 MXN</li>
          <li class="pricing-features-item"> <input type="radio" name="opinions" id="radio-1"> 20 Evaluaciones/ $1200 MXN</li>
          <li class="pricing-features-item"> <input type="radio" name="opinions" id="radio-1"> 40 Evaluaciones/ $1200 MXN</li>
          <li class="pricing-features-item"> <input type="radio" name="opinions" id="radio-1"> 60 Evaluaciones/ $1200 MXN</li>
          <li class="pricing-features-item"> <input type="radio" name="opinions" id="radio-1"> 80 Evaluaciones/ $1200 MXN</li>
          <li class="pricing-features-item"> <input type="radio" name="opinions" id="radio-1"> 100 Evaluaciones/ $1200 MXN</li>
        </ul>
        <!-- <span class="pricing-price">Paquetes</span> -->
        <a href="#/" class="pricing-button is-featured">Comprar</a>
      </div>
    </div>
  </div>
  
</div>

<div class ="padding" ng-controller="appCtrl as vm">


<div class="flex-layout">
<div class="box">
        <div class="box-header" align="center" >
          <h3>EVALUACIÓN PSICOMÉTRICA</h3>
        </div>
        <div class="box-body">
            <div class="form-group row">
                <label class="col-sm-4 form-control-label"><strong>Precio Unitario de Evaluación Psicométrica</strong></label>
            <div class="col-sm-8">
                $ 185.00
                <button class="btn btn-fw orange" ng-click="newEnterprise()" data-toggle="modal" data-target="#m-b-b">Comprar</button>
            </div>
            </div>
    </div>
</div>


<div class="box" style="width:50%;">
  <div class="box-header" align="center" >
    <h3>Más Paquetes</h3>
  </div>
  <div class="box-body">
      <div class="form-group row">
          <!-- <label class="col-sm-4 form-control-label"><strong>Precio Unitario de Evaluación Psicométrica</strong></label> -->
          <button class="btn btn-fw orange"  ng-hide="!industriaFlag" ng-click="showIndustria()" data-toggle="modal" data-target="#m-b-b">Paquete Industría</button>
          <button class="btn btn-fw orange" ng-hide="industriaFlag"  ng-click="showIndustria()" data-toggle="modal" data-target="#m-b-b">Ocultar</button>
      <div class="col-sm-8">
        <button class="btn btn-fw orange"  ng-hide="!premiumFlag" ng-click="showPremium()" data-toggle="modal" data-target="#m-b-b">Paquete Premium</button>
        <button class="btn btn-fw orange" ng-hide="premiumFlag"  ng-click="showPremium()" data-toggle="modal" data-target="#m-b-b">Ocultar</button>
      </div>
      </div>
</div>
</div>

</div>



<div class="box" ng-hide="industriaFlag">
    <div class="box-header" align="center" >
      <h2>PAQUETES INDUSTRIA Y EN RENTA MENSUAL</h3>
    </div>
    <div class="table-responsive">
        <table class="table table-striped m-0">
          <thead>
            <tr class="info">
              <th>Cantidad de Pérfiles</th>
              <th>Inversión Paquete</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
          <tr>
              <td>250 Evaluaciones</td>
              <td><strong>$ 20,350.00</strong></td>
              <td><button class="btn btn-fw orange" ng-click="newEnterprise()" data-toggle="modal" data-target="#m-b-b">Comprar</button></td>
          </tr>
          <tr>
              <td>300 Evaluaciones</td>
              <td><strong>$ 24,200.00</strong></td>
              <td><button class="btn btn-fw orange" ng-click="newEnterprise()" data-toggle="modal" data-target="#m-b-b">Comprar</button></td>
            </tr>
            <tr>
              <td>350 Evaluaciones</td>
              <td><strong>$ 27,550.00</strong></td>
              <td><button class="btn btn-fw orange" ng-click="newEnterprise()" data-toggle="modal" data-target="#m-b-b">Comprar</button></td>
            </tr>
            <tr>
                <td>400 Evaluaciones</td>
                <td><strong>$ 30,900.00</strong></td>
                <td><button class="btn btn-fw orange" ng-click="newEnterprise()" data-toggle="modal" data-target="#m-b-b">Comprar</button></td>
              </tr>
              <tr>
                <td>450 Evaluaciones</td>
                <td><strong>$ 34,250.00</strong></td>
                <td><button class="btn btn-fw orange" ng-click="newEnterprise()" data-toggle="modal" data-target="#m-b-b">Comprar</button></td>
              </tr>
              <tr>
                <td>500 Evaluaciones</td>
                <td><strong>$ 37,600.00</strong></td>
                <td><button class="btn btn-fw orange" ng-click="newEnterprise()" data-toggle="modal" data-target="#m-b-b">Comprar</button></td>
              </tr>
              <tr>
                <td>*Inversión Anual anticipada, aplica un 10% de descuento</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
          </tbody>
        </table>
    </div>
</div>
<div class="box" ng-hide="premiumFlag"> 
    <div class="box-header" align="center">
      <h2>PAQUETES PREMIUM SIN PERFILES</h3>
    </div>
    <div class="table-responsive">
        <table class="table table-striped m-0">
          <thead>
            <tr class="info">
              <th>Inversión</th>
              <th>Monto</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Inversión Anual Versión Premium</td>
              <td>$ {{vm.inversionPremium}}</td>
              <td><button class="btn btn-fw orange" ng-click="newEnterprise()" data-toggle="modal" data-target="#m-b-b">Comprar</button></td>
            </tr>
            <tr>
                <td>inversión Anual Versión Free</td>
                <td>N/A</td>
                <td><button class="btn btn-fw orange" ng-click="newEnterprise()">Iniciar</button></td>
              </tr>
          </tbody>
        </table>
    </div>
</div>

<div class="box">
  <div class="box-header" align="center" >
    <h3>FUNCIONALIDADES EN PANEL DE EMPRESAS</h3>
  </div>
  <div class="table-responsive">
    <table class="table table-striped m-0">
      <thead>
        <tr class="info">
          <th>Portafolio de Soluciones</th>
          <th>Free</th>
          <th>Premium</th>
        </tr>
      </thead>
      <tbody>
      <tr >
          <td>Acceso a bolsa inteligente de trabajo</td>
          <td><i class="fa fa-check"></i></td>
          <td><i class="fa fa-check"></i></td>
      </tr>
      <tr>
          <td>Aplicación presencial o remota de evaluaciones psicométricas</td>
          <td><i class="fa fa-check"></i></td>
          <td><i class="fa fa-check"></i></td>
       </tr>
        <tr>
          <td>Acceso a resultados en tiempo real de evaluaciones de candidatos.</td>
          <td><i class="fa fa-check"></i></td>
          <td><i class="fa fa-check"></i></td>  
        </tr>
        <tr>
            <td> Descargar, enviar e imprimir banco de candidatos precalificados.</td>
            <td><i class="fa fa-check"></i></td>
            <td><i class="fa fa-check"></i></td>   
        </tr>
          <tr>
            <td>  Acceso a Recomendados ADN talent, en porcentajes de adecuación laboral, psicológica y global de candidatos al puesto deseado</td>
            <td><i class="fa fa-check"></i></td>
            <td><i class="fa fa-check"></i></td>    
          </tr>
          <tr>
            <td> Envío de registro de candidato de manera remota vía web.</td>
            <td><i class="fa fa-check"></i></td>
            <td><i class="fa fa-check"></i></td>   
          </tr>
          <tr>
            <td> Acceso a banco de puestos generados con las vacantes publicadas.</td>
            <td><i class="fa fa-check"></i></td>
            <td><i class="fa fa-check"></i></td>    
          </tr>
          <tr>
            <td> Acceso a comparación de candidatos, hasta tres en relación a un puesto.</td>
            <td><i class="fa fa-check"></i></td>
            <td><i class="fa fa-check"></i></td>   
          </tr>
          <tr>
            <td> Gestor de seguimiento a candidatos y personal contratado.</td>
            <td><i class="fa fa-check"></i></td>
            <td><i class="fa fa-check"></i></td>   
          </tr>
          <!--  PREMIUM GRATIS -->
          <tr>
            <td> Administrador organizacional de puestos.</td>
            <td>N/A</td>
            <td><i class="fa fa-check"></i></td>   
          </tr>
          <tr>
            <td> Generador de Reglamento Interior de trabajo según la LFT.</td>
            <td>N/A</td>
            <td><i class="fa fa-check"></i></td>    
          </tr>
          <tr>
            <td> Generador de Organigramas.</td>
            <td>N/A</td>
            <td><i class="fa fa-check"></i></td>   
          </tr>
          <tr>
            <td> Generador DC-1, DC-2, DC-3, DC-4 Y DC-5 para trámites STPS.</td>
            <td>N/A</td>
            <td><i class="fa fa-check"></i></td>   
          </tr>
          <tr>
            <td> Generador de Contratos Laborales para candidatos contratados.</td>
            <td>N/A</td>
            <td><i class="fa fa-check"></i></td>   
          </tr>
          <tr>
            <td> Descarga repositorio de documentos RRHH (48 archivos).</td>
            <td>N/A</td>
            <td><i class="fa fa-check"></i></td>   
          </tr>
          <tr>
            <td> Acceso a Calculadoras (finiquitos, vacaciones, PTU, asimilados, etc.).</td>
            <td>N/A</td>
            <td><i class="fa fa-check"></i></td>   
          </tr>
          <tr>
            <td> Ve publicidad. </td>
            <td>Si</td>
            <td>N/A</td>   
          </tr>
          <tr>
            <td> Acceso a APP Android e IOs.</td>
            <td><i class="fa fa-check"></i></td>
            <td><i class="fa fa-check"></i></td>   
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td>--</td>   
          </tr>
      </tbody>
      
      
    </table>
    Una cuenta empresarial nueva, tiene habilitados todos los servicios de la cuenta Premium por 10 días, así como 10 evaluaciones disponibles sin costo vigentes por 10 días.
    Para subir de categoría a cuenta de empresa Premium te invitamos a habilitar el paquete de evaluaciones en renta mensual que mejor acomode a las necesidades de tu organización.

</div>
</div>

</div>




    
    


