<section id='portfolio' class="section-portfolio"> 
  <div class="section-content">
    <h2 class="textNew">
      <span>
          PORTAFOLIO
      </span>
    </h2>
    <div class="borderTextNew"></div>
    <ul class="portfolio-filter text-center">
      <li><a class="btn btn-default active" href="#" data-filter="*">Todas</a></li>
      <li><a class="btn btn-default" href="#" data-filter=".pre">Preventivas</a></li>
      <li><a class="btn btn-default" href="#" data-filter=".pro">Propositivas</a></li>
      <li><a class="btn btn-default" href="#" data-filter=".cor">Correctivas</a></li>
    </ul>
  </div>
</section>
<div id='portfolio' class="gallery-portfolio">
    <div class="row wow bounceInLeft" data-wow-delay=".25s" data-wow-duration="2s">
        <div class="portfolio-items isotope">
            <div ng-repeat="element in portfolio" class="portfolio-item {{element.category}} col-xs-12 col-sm-4 col-md-3 isotope-item overlay-container">
                <div class="recent-work-wrap">
                    <a class="preview"  rel="prettyPhoto">
                        <img class="img-responsive" src="{{element.image}}" alt="">
                    </a>
                </div>
                <div class="overlay-top">
                  <div class="text">
                    <h3><a ng-click="showDialogPortafolio($event, element)" href="#project-1" data-toggle="modal">{{element.tittle}}</a></h3>
                  </div>
                </div>
                <div class="overlay-bottom">
                  <div class="links">
                    <a ng-click="showDialogPortafolio($event, element)" href="#project-1" data-toggle="modal" class="btn btn-gray-transparent btn-animated btn-sm">Detalles{{" "}}<i class="pl-10 fa fa-arrow-right"></i></a>
                  </div>
                </div>
            </div><!--/.portfolio-item-->
        </div>
    </div>
</div> 

<section id='contact' class="section-contact">
          <div class="section-content">
            <h2 class="textNew">
              <span>
                CONTACTO
              </span>
            </h2>
            <div class="borderTextNew"></div>
            <map class="wow fadeInUp" data-wow-delay=".25s" data-wow-duration="1.5s" zoom="15" center="22.752175, -102.517705">
                <marker position="22.752175, -102.517705"></marker>
            </map>
            <div class="data wow fadeInUp" data-wow-delay="1s" data-wow-duration="1.5s">
              <div class="col-sm-6 col-sm-6 col-xs-12 formMesg">
                  <h5 class="tittle">
                      Deja tu mensaje
                    </h5>
                    <p class="text">
                      Si te ha interesado nuestro trabajo, puedes establecer contacto de manera muy sencilla, simplemente llena el formulario y nosotros nos ponemos en contacto contigo.
                    </p>
                    <form name="form-contact" class="form-validation ng-pristine ng-invalid ng-invalid-required ng-valid-email ng-valid-url">
                      <div class="box">
                        <div class="box-body">  
                          <div class="form-group">
                              <input type="text" class="form-control ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required" placeholder="Nombre*" ng-model="contact.name" required="">
                          </div>
                          <div class="form-group">
                              <input type="email" class="form-control ng-pristine ng-untouched ng-empty ng-valid-email ng-invalid ng-invalid-required" placeholder="Email*" ng-model="contact.email" required="">
                          </div>
                          <div class="form-group">
                            <input type="text" class="form-control ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required" placeholder="Asunto*" ng-model="contact.url" required="">
                          </div>
                          <div class="form-group">
                            <textarea class="form-control" rows="6" placeholder="Mensaje"></textarea>
                          </div>
                        </div>
                        <footer class="p-a dker text-right">
                          <button type="submit" class="btn btn-info">Enviar</button>
                        </footer>
                      </div>
                    </form>
              </div>
              <div class="col-sm-6 col-sm-6 col-xs-12 address" style="padding-left: 5rem;">
                  <h5 class="tittle">
                    Oficina principal
                  </h5>
                  <p class="text">
                    Telegrafos 142-B, <br>
                    Col. Centro Guadalupe, <br>
                    Zac CP 98600 
                  </p>
                  <p class="text" style="margin-bottom: 4rem;">
                    Telefono:492-164-6289 <br>
                    Email: tualiado@adntalent.com
                  </p>
                  <div class="borderTextNew" style="width: 5rem; margin-bottom: 1rem;"></div>
                  <h5 class="tittle" style="line-height: 1.3em;">
                      Llamanos: <br>
                      492-164-6289
                  </h5>
              </div>
            </div>
          </div>
</section>


