<md-dialog aria-label="Mango (Fruit)">
    <link rel="stylesheet" href="assets/angular-ui-carousel/dist/ui-carousel.min.css">
    <script src="libs/angular/angular-ui-router/release/angular-ui-router.min.js"></script>
        <form ng-cloak>
          <md-toolbar>
            <div class="md-toolbar-tools">
              <h2>Reingeniería de Procesos</h2>
              <span flex></span>
              <md-button class="md-icon-button" ng-click="cancel()">
                <i class="fa fa-close" aria-label="Close dialog"></i>
              </md-button>
            </div>
          </md-toolbar>
      
          <md-dialog-content>
            <div class="md-dialog-content">
              <div class="row">
                <div class="col-md-4 portfolio-details">
                  <h2 class="textNew">
                    <span>
                        Descripción
                    </span>
                  </h2>
                  <p>Hacemos un estudio de los procedimientos que se desarrollan en la empresa e identificamos áreas de mejora en tiempos, movimientos, efectividad y costos; acompañando a las organizaciones a la institucionalización de procesos, indicadores y controles que impacten en su productividad.</p>
                </div>
                <div class="col-md-8">
                   <img src="./images/portfolio/details/item6-1.png" alt="" style="width: 100%; margin-top: 1rem;">
                   <img src="./images/portfolio/details/item6-2.png" alt="" style="width: 100%; margin-top: 1rem;">
                   <img src="./images/portfolio/details/item6-3.png" alt="" style="width: 100%; margin-top: 1rem;">
                   <img src="./images/portfolio/details/item6-4.png" alt="" style="width: 100%; margin-top: 1rem;">
                   <img src="./images/portfolio/details/item6-5.png" alt="" style="width: 100%; margin-top: 1rem;">
                </div>
              </div>
            </div>
          </md-dialog-content>
      
          <md-dialog-actions layout="row">
            <md-button ng-click="cancel()">
              Cerrar
            </md-button>
          </md-dialog-actions>
        </form>
      </md-dialog>