<md-dialog aria-label="Mango (Fruit)">
    <link rel="stylesheet" href="assets/angular-ui-carousel/dist/ui-carousel.min.css">
    <script src="libs/angular/angular-ui-router/release/angular-ui-router.min.js"></script>
        <form ng-cloak>
          <md-toolbar>
            <div class="md-toolbar-tools">
              <h2>Atracción de Talento</h2>
              <span flex></span>
              <md-button class="md-icon-button" ng-click="cancel()">
                <i class="fa fa-close" aria-label="Close dialog"></i>
              </md-button>
            </div>
          </md-toolbar>
      
          <md-dialog-content>
            <div class="md-dialog-content">
              <div class="row">
                <div class="col-md-4 portfolio-details">
                  <h2 class="textNew">
                    <span>
                        Descripción
                    </span>
                  </h2>
                  <p>El reclutamiento de personal es uno de los principales desafíos en las empresas a nivel global, 
                      por las pérdidas que representa la rotación de personal, las curvas de aprendizaje prolongadas 
                      y la fuga de talento. Por ello el principal reto, no es el reclutamiento en sí, sino la 
                      permanencia de personal, lo que hace llevar la mirada a las estrategias de fidelización vs 
                      retención de personal. Si canalizamos nuestros esfuerzos en consolidar una estrategia de 
                      fidelización del personal acorde a una estructura organizacional que promueva una sólida 
                      identificación con la empresa, podremos incidir en el rendimiento laboral y por consiguiente en la 
                      productividad de la empresa como proyecto a mediano y largo plazo.</p>
                </div>
                <div class="col-md-8">
                   <img src="./images/portfolio/details/item7-1.png" alt="" style="width: 100%; margin-top: 1rem;">
                   <img src="./images/portfolio/details/item7-2.png" alt="" style="width: 100%; margin-top: 1rem;">
                   <img src="./images/portfolio/details/item7-3.png" alt="" style="width: 100%; margin-top: 1rem;">
                   <img src="./images/portfolio/details/item7-4.png" alt="" style="width: 100%; margin-top: 1rem;">
                   <img src="./images/portfolio/details/item7-5.png" alt="" style="width: 100%; margin-top: 1rem;">
                </div>
              </div>
            </div>
          </md-dialog-content>
      
          <md-dialog-actions layout="row">
            <md-button ng-click="cancel()">
              Cerrar
            </md-button>
          </md-dialog-actions>
        </form>
      </md-dialog>