<md-dialog aria-label="Mango (Fruit)">
        <link rel="stylesheet" href="assets/angular-ui-carousel/dist/ui-carousel.min.css">
        <script src="libs/angular/angular-ui-router/release/angular-ui-router.min.js"></script>
            <form ng-cloak>
              <md-toolbar>
                <div class="md-toolbar-tools">
                  <h2>Bolsa de Trabajo</h2>
                  <span flex></span>
                  <md-button class="md-icon-button" ng-click="cancel()">
                    <i class="fa fa-close" aria-label="Close dialog"></i>
                  </md-button>
                </div>
              </md-toolbar>
          
              <md-dialog-content>
                <div class="md-dialog-content">
                  <div class="row">
                    <div class="col-md-4 portfolio-details">
                      <h2 class="textNew">
                        <span>
                            Descripción
                        </span>
                      </h2>
                      <p>Presentamos una herramienta en línea que permite a empresas publicar vacantes, contactar candidatos, realizar evaluaciones de personalidad, inteligencia y psicométricas, comparar candidatos, administrar prospectos, administrar contrataciones, crear bancos de candidatos por perfiles y con todo ello cubrir rápidamente sus vacantes.</p>
                      <p>A los candidatos les permite además de publicar sus currículos, contestar un test de personalidad incrementando sus posibilidades de colocación, conocer diferentes opciones laborales y recibir propuestas de trabajo acorde a sus perfiles.</p>
                    </div>
                    <div class="col-md-8">
                       <img src="./images/portfolio/details/item3.png" alt="" style="width: 100%; margin-top: 1rem;">
                       <img src="./images/portfolio/details/item4.png" alt="" style="width: 100%; margin-top: 1rem;">                       
                    </div>
                  </div>
                </div>
              </md-dialog-content>
          
              <md-dialog-actions layout="row">
                <md-button ng-click="cancel()">
                  Cerrar
                </md-button>
              </md-dialog-actions>
            </form>
          </md-dialog>