<md-dialog aria-label="Mango (Fruit)">
    <link rel="stylesheet" href="assets/angular-ui-carousel/dist/ui-carousel.min.css">
    <script src="libs/angular/angular-ui-router/release/angular-ui-router.min.js"></script>
        <form ng-cloak>
          <md-toolbar>
            <div class="md-toolbar-tools">
              <h2>Cumplimiento NOM STPS</h2>
              <span flex></span>
              <md-button class="md-icon-button" ng-click="cancel()">
                <i class="fa fa-close" aria-label="Close dialog"></i>
              </md-button>
            </div>
          </md-toolbar>
      
          <md-dialog-content>
            <div class="md-dialog-content">
              <div class="row">
                <div class="col-md-4 portfolio-details">
                  <h2 class="textNew">
                    <span>
                        Descripción
                    </span>
                  </h2>
                  <p>Realizamos auditorias de diagnostico y brindamos asesoría y acompañamiento a empresas para dar total cumplimiento a las NOM-STPS, mejorando las condiciones laborales, dando certeza legal, fomentando la cultura de la prevención y evitando el riesgo de pagar multas por incumplimiento, en las tres áreas revisadas por esta autoridad.</p>
                  <p>Auditorias de cumplimiento STPS</p>
                  <ul>
                      <li><p>Recorridos de diagnostico.</p></li>
                      <li><p>Diagnostico documental.</p></li>
                      <li><p>Atención a inspecciones de la STPS.</p></li>
                      <li><p>Comparecencias ante la STPS.</p></li>
                      <li><p>Capacitación.</p></li>
                      <li><p>Constancias de habilidades laborales DC-3.</p></li>
                      <li><p>Simulacros de evacuación.</p></li>
                      <li><p>Desarrollo de expedientes NOM STPS.</p></li>
                      <li><p>Asesoía, acompañamiento y desarrollo.</p></li>
                      <li><p>Celebramos acuerdo de confidencialidad en el uso de su información.</p></li>   
                      <li><p>Respaldamos su información con nuestro Aviso de Privacidad.</p></li>
                  </ul>
                </div>
                <div class="col-md-8">
                   <img src="./images/portfolio/details/item2-1.png" alt="" style="width: 100%; margin-top: 1rem;">
                </div>
              </div>
            </div>
          </md-dialog-content>
      
          <md-dialog-actions layout="row">
            <md-button ng-click="cancel()">
              Cerrar
            </md-button>
          </md-dialog-actions>
        </form>
      </md-dialog>