<section id="resetPassword" class="resetPassword">
    <div class="section-content">
        <div class="center-block w-xxl w-auto-xs p-y-md">
            <div class="navbar">
            <div class="pull-center">
                <div ui-include="'../views/blocks/navbar.brand.html'"></div>
            </div>
            </div>
            <div class="p-a-md box-color r box-shadow-z1 text-color m-a">
            <div class="m-b">
                ¿Olvidaste tu contraseña? 
                <P class = "text-xs m-t"> Ingrese su dirección de correo electrónico a continuación y le enviaremos una nueva contraseña.</p> 
            </div> 
            <form name="reset">
                <div class="md-form-group">
                <input type="email" class="md-input" ng-model="vm.mail" required> 
                <label>Correo eléctronico</label> 
                </div>
            <button class="btn primary btn-block p-x-md"  ng-click="vm.recoveryPass();">Enviar correo</button>
            </form>
            </div>
            <p id="alerts-container"></p>
            <div class="p-v-lg text-center">Regresar a <a ui-sref='home' class="text-primary _600">Iniciar Sesión</a></div>    
        </div>

        <!-- Modales -->
        <div class="modal modal-danger fade" id="modal-fail">   
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">ERROR</h4>
              </div>
              <div class="modal-body">
                <p>Este correo no se encuentra registrado</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-outline" id="btn-room-del" data-dismiss="modal">Entendido</button>
              </div>
            </div>
            <!-- /.modal-content -->
          </div>
          <!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->

  
         <div class="modal modal-danger fade" id="modal-success">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Restaurar contraseña</h4>
              </div>
              <div class="modal-body">
                <p>Se ha enviado una nueva contraseña, favor de revisar su correo</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-outline" id="btn-room-del" data-dismiss="modal">Entendido</button>
              </div>
            </div>
            <!-- /.modal-content -->
          </div>
          <!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->

        <div class="modal modal-danger fade" id="modal-none">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Error</h4>
              </div>
              <div class="modal-body">
                <p>Sucedio un error al enviar correo, favor de intentarlo mas tarde</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-outline" id="btn-room-del" data-dismiss="modal">Entendido</button>
              </div>
            </div>
            <!-- /.modal-content -->
          </div>
          <!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->



        <!--Spinner-->
        <div class="loading" ng-show="vm.loader">
            <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
            </div>
        </div>
    </div>
</section>
<section class="container-msg">
    <div  ng-parallax pattern="'images/module-15.jpg'" speed="2" reverse="true" class="backgraund-msg">
        <div class="msg">
            <h1 style="text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);">Encuentra aquellos que comparten tu misión!!</h1>
        </div>
    </div>
</section>
